<? $pag = $this->pagina1; ?>
<section class="pagina" id="pagina1">
	<h1><?=$pag->titulo?></h1>

	<? if($img = $pag->fotos_fixas[0]->foto1){ ?>
	<?=Image::src('paginas/'.$img,'class="img"')?>
	<? } ?>

	<div class="texto">
		<div class="texto1"><?=$pag->body?></div>
		<div class="texto2"><?=$pag->body2?></div>
		<div class="texto3"><?=$pag->body3?></div>
	</div>
</section>

<? $pag = $this->pagina2; ?>
<? $img = $pag->fotos_fixas[0]->foto1; ?>
<? $bg = Image::bg('paginas/'.$img); ?>
<? $src = Image::src('paginas/'.$img,'class="img-bg"'); ?>
<? $wrapper_open = '<div class="main-seja-humanus-pagina2-wrapper" './*($img?$bg:'').*/'>'; ?>
<? //$wrapper_open = '<div class="main-seja-humanus-pagina2-wrapper">'.($img?$src:'').''; ?>
<? $wrapper_close = '</div>'; ?>
<?//=($img) ? Image::src('paginas/'.$img) : ''?>
<?=$this->divfull('pagina2')->open($wrapper_open)?>
<?=($img) ? $src : ''?>
<section class="pagina <?=$img?'has-bg':''?>" id="pagina2">
	<h1><?=$pag->titulo?></h1>

	<div class="texto">
		<h2>MISSÃO</h2>
		<?=$pag->body?>
		
		<h2>VISÃO</h2>
		<?=$pag->body2?>
		
		<h2>VALORES</h2>
		<?=$pag->body3?>
	</div>
</section>
<?=$this->divfull()->close($wrapper_close)?>
</div>
<?=$this->divfull('pagina2-titulo')->open()?>
<? if($pag->has_extra) if((bool)trim($pag->extra)){ ?>
<section class="titulo-missao">
	<?=$pag->extra?>
</section>
<? } ?>
<?=$this->divfull()->close()?>

<? $pag = $this->pagina3; ?>
<section class="pagina" id="pagina3">
	<h1><?=$pag->titulo?></h1>

	<? if((bool)trim($pag->body)){ ?>
	<div class="texto">
		<?=$pag->body?>
	</div>
	<? } ?>

	<div class="reconhecimento-selos">
		<? foreach($pag->fotos as $foto){ ?>
		<? $bg = Image::bg('paginas/'.$foto->path); ?>
		<span class="selo" <?=$bg?>></span>
		<? } ?>
	</div>
</section>

<? $pag = $this->pagina4; ?>
<? $img = $pag->fotos_fixas[0]->foto1; ?>
<? $video = ((bool)trim($pag->url)) ? _checkVideoStr($pag->url,array('embed_width'=>'100%','embed_height'=>'100%')) : null; ?>
<section class="pagina <?=($img) ? 'has-img' : ''?>" id="pagina4">
	<h1><?=$pag->titulo?></h1>

	<? if($img){ ?>
	<?=Image::src('paginas/'.$img,'class="img"')?>
	<? } ?>

	<div class="texto">
		<?=$pag->body?>
		<div class="texto2"><?=$pag->body2?></div>
		<?=$pag->body3?>

		<? if($video){ ?>
		<div class="video-container mobile">
			<?=$video->embed?>
		</div>
		<? } ?>
	</div>

	<? if($video){ ?>
	<div class="video-container desktop">
		<?=$video->embed?>
	</div>
	<? } ?>
</section>