<article class="wrapper">
    <h1>
        ÁREA DO CLIENTE
        <span class="user-name">Olá <?=@$this->login->user->nome?></span>
        <a href="<?=URL?>/login/logout" class="botao-sair">sair</a>
    </h1>
    <h3><?=$this->titulo?></h3>
</article>

<div class="content treinamentos portal <?=$this->controller?> <?=$this->controller.'-'.$this->action?>">
    <div class="content-left">
        <div class="categorias">
            <? /*if((bool)@$this->login->has_consultoria && $this->pagina_instrucoes){ ?>
            <?/*<a class="<?=($this->controller=='instrucoes'?'active':'')?>" href="<?=URL?>/portal/instrucoes"><?=$this->pagina_instrucoes->titulo?></a>//?>
            <a class="<?=($this->controller=='instrucoes'?'active':'')?>" href="<?=URL?>/portal/instrucoes">INSTRUÇÕES GERAIS</a>
            <? } ?>
            
            <? $txtMenuDados = (@$this->login->has_consultoria) ? 'MEUS DADOS' : 'MEUS DADOS PESSOAIS'; ?>
            <a class="<?=($this->controller=='index'?'active':'')?>" href="<?=URL?>/portal"><?=$txtMenuDados?></a>
            
            <? if((bool)@$this->login->has_consultoria){ ?>
            <a class="<?=($this->controller=='consultoria'?'active':'')?>" href="<?=URL?>/portal/consultoria">MINHA CONSULTORIA</a>
            <? } ?>
            
            <? if((bool)@$this->login->has_treinamentos){ ?>
            <a class="<?=($this->controller=='treinamentos'?'active':'')?>" href="<?=URL?>/portal/treinamentos">MEUS TREINAMENTOS</a>
            <? }*/ ?>
            
            <? if($this->controller=='consultoria'){ ?>
            <? $i=0; foreach($this->menu_categ as $menu){ $i++; ?>
            <? $active = (!$this->categoria && $i==1) ||
                         // ($this->categoria=='enviados' && $i==1) ||
                         // ($this->categoria=='fluxo' && $i==1) ||
                         (@$this->categoria==end(explode('/', $menu->uri))); ?>
            <a href="<?=$menu->uri?>" class="<?=($active) ? 'active' : ''?> categoria"><?=$menu->label?></a>
            <? } ?>
            <? } else { ?>
            <a href="<?=URL?>/portal/consultoria" class="categoria">Arquivos</a>
            <? } ?>
            
            <? $active = $this->controller=='alterar-senha'; ?>
            <a href="<?=URL?>/portal/alterar-senha" class="<?=($active) ? 'active' : ''?> categoria senha">Alterar senha</a>
        </div>
    </div>

    <div class="content-main inscricao consultoria">
        <?/*<h1 class="dados-pessoais">ÁREA DO CLIENTE</h1>*/?>

        <?/*<h3 class="title-user">
            Olá <span class="user-name"><?=@$this->login->user->nome?></span>
            <a href="<?=URL?>/login/logout" class="botao-sair">sair [X]</a>
        </h3>*/?>
        
        <div class="portal-content <?=$this->controller?> <?=$this->controller.'-'.$this->action?>">