			<div class="inscricao-wrapper">
				<? if((bool)$this->rows){ ?>

				<div class="portal-voltar">
                    <a href="<?=URL?>/portal/treinamentos">&laquo; Retornar para meus treinamentos</a>
                </div>

                <div class="treinamento-detalhe">
                    <span class="titulo">
                    	<a href="#" class="titulo-voltar js-back">&laquo; voltar</a>
                    	<?=$this->rows[0]->treinamento?>
                    </span>
                    <p class="data"><span class="label">FREQUÊNCIA - AULAS E HORÁRIOS</span></p>
                </div>

                <p>
                <ul class="lista-notas frequencias">
				<? foreach ($this->rows as $row) { ?>
				<? if($row->status===null) $status = '-';
				   else $status = $row->status==1 ? 'PRESENÇA' : 'FALTA'; ?>
				<li>
					<span class="label data">
						<?=Is_Date::am2br($row->data_ini)?> - 
						<?=$this->date2($row->data_ini,'WEEKDAY_SHORT')?>
					</span>
					<span class="label">
						<?=substr(end(explode(' ',$row->data_ini)),0,-3)?> -
						<?=substr(end(explode(' ',$row->data_fim)),0,-3)?>
					</span>
					<?=$status?>
				</li>
				<? } ?>
                </ul>
                </p>

				<? } else { ?>
				<p>Nenhuma avaliação encontrada.</p>
				<? } ?>
			</div>