<h1 class="dados-pessoais">
    ESQUECI MINHA SENHA
    <?/*<a href="<?=URL?>/login" class="botao-sair">&laquo; voltar ao login</a>*/?>
</h1>

<div class="content treinamentos">
    <div class="center1">
        <?/*<div class="content-left">
            <? if($this->sessionRedirect->controller=='portal'){ ?>
            <img src="<?=PUBLIC_PATH?>/img/lateral-portal.png" alt="">
            <? } else { ?>
            <?=$this->render('treinamentos/aside.phtml')?>
            <? } ?>
        </div>*/?>

        <div class="content-main inscricao center">
            <?=$this->render('login/form-recuperar-senha.phtml')?>
        </div>

        <? if(@$this->cart->items){ ?>
        <div class="content-right">
            <?/*=($this->continue_cadastro)?
                    $this->render('meu-carrinho/pagina-cart-continue.phtml'):
                    $this->render('meu-carrinho/pagina-cart.phtml')*/?>
            <?=($this->steps) ? $this->render('meu-carrinho/pagina-cart-processo.phtml') : ''?>
        </div>
        <? } ?>
    </div>
</div>