<div id="banner-wrapper">
	<? foreach($this->banners as $banner){ ?>
	<? $vidBanner = ((bool)trim($banner->video)) && $banner->tipo==2 ? 
	    _checkVideoStr($banner->video) : 
	    null; ?>
	<? $imgBanner = ((bool)trim($banner->foto_path)) && $banner->tipo==1 ? 
	    'destaques/'.$banner->foto_path : 
	    'not-found.jpg'; ?>
    <? if($vidBanner){ $this->vidBanner = $vidBanner; ?>
    <div class="banner slide video <?=$vidBanner->type?>" <?=Image::bg($imgBanner)?>>
        <div class="video-background">
            <div class="video-foreground">
                <?=$this->render('index/banner-'.$vidBanner->type.'.phtml')?>
                <?//=$this->render('index/banner-autovideo.phtml')?>
            </div>
        </div>
        <span class="banner-text">
            <?=$banner->titulo?>
        </span>
    </div>
    <? } else { ?>
    <div class="banner slide" <?=Image::bg($imgBanner)?>>
        <span class="banner-text">
            <?=$banner->titulo?>
        </span>
    </div>
    <? } ?>
    <? } // foreach ?>
</div>