				<? $vidBanner = $this->vidBanner; ?>
				<?/*<iframe id="ifplayer" src="<?=$vidBanner->embedUrl?>?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&version=3&playsinline=1&playlist=<?=$vidBanner->code?>" frameborder="0" allowfullscreen></iframe>
                <script>var ifplayer = '#ifplayer';</script>*/?>
                <div id="ytplayer" class="screen mute"></div>
                <script>
                // Load the IFrame Player API code asynchronously.
                var tag = document.createElement('script');
                tag.src = "https://www.youtube.com/player_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                var ytplayer;
                function onYouTubePlayerAPIReady() {
                    ytplayer = new YT.Player('ytplayer', {
                        height: '360',
                        width: '640',
                        playerVars: {
                            autoplay: 1,
                            // autoplay: 0,
                            autohide: 1,
                            controls: 0,
                            showinfo: 0,
                            disablekb: 1,
                            enablejsapi: 1,
                            iv_load_policy: 3,
                            modestbranding: 0,
                            rel: 0,
                            loop: 1,
                            playsinline: 1
                            // ,playlist: '<?=$vidBanner->code?>'
                        },
                        videoId: '<?=$vidBanner->code?>',
                        events: {
                            'onReady': onPlayerReady
                            ,'onStateChange': onPlayerStateChange
                        }
                    });
                }
                // function onPlayerReady(event) { event.target.playVideo(); }
                // function onPlayerReady() { ytplayer.playVideo(); ytplayer.mute(); }
                function onPlayerReady() {
                    ytplayer.seekTo(0);
                    ytplayer.playVideo();
                    // ytplayer.loadVideoById('<?=$vidBanner->code?>');
                    ytplayer.mute();
                }
                var ytchs = 0, ytdur;
                function onPlayerStateChange(e) {
                    // console.log(e.data);
                    ytchs++;
                    
                    if(ytchs===1){
                        ytdur = Math.floor(ytplayer.getDuration())*1000;
                        window.setInterval(function(){
                            ytplayer.seekTo(0);
                            ytplayer.playVideo();
                        },ytdur);
                        return;
                    }
                }
                </script>