				<? $api = file_get_contents('https://uploadbeta.com/api/video/?cached&video='.$this->banner->video); ?>
				<? $api = json_decode($api); ?>
				<video autoplay loop muted playsinline id="vdplayer">
					<source src="<?=$api->url?>">
					<!-- <source src="video.webm" onerror="fallback_webm(parentNode)"> -->
					<?=Image::src($imgBanner)?>
				</video>
				<script>
				var vdplayer = true;
				function fallback_webm(video)
				{
				  var img = video.querySelector('img');
				  if(img) video.parentNode.replaceChild(img, video);
				}
				</script>