<? $vidBanner = ((bool)trim($this->banner->video)) ? 
    _checkVideoStr($this->banner->video) : 
    null; ?>
<? $imgBanner = ((bool)trim($this->banner->foto_path)) ? 
    'destaques/'.$this->banner->foto_path : 
    'not-found.jpg'; ?>
<div id="banner-wrapper">
    <? if($vidBanner){ $this->vidBanner = $vidBanner; ?>
    <div class="banner video <?=$vidBanner->type?>" <?=Image::bg($imgBanner)?>>
        <div class="video-background">
            <div class="video-foreground">
                <?//=$this->render('index/banner-'.$vidBanner->type.'.phtml')?>
                <?=$this->render('index/banner-autovideo.phtml')?>
            </div>
        </div>
        <span class="banner-text">
            <?=$this->banner->titulo?>
        </span>
    </div>
    <? } else { ?>
    <div class="banner" <?=Image::bg($imgBanner)?>>
        <span class="banner-text">
            <?=$this->banner->titulo?>
        </span>
    </div>
    <? } ?>
</div>