				<? $vidBanner = $this->vidBanner; ?>
				<script src="//f.vimeocdn.com/js/froogaloop2.min.js"></script>
				<iframe id="vmplayer" src="<?=$vidBanner->embedUrl?>?background=1&api=1&title=0&portrait=0&controls=0&showinfo=0&rel=0&autoplay=1&automute=1&loop=1&playlist=<?=$vidBanner->code?>&playsinline=1" frameborder="0" allowfullscreen></iframe>
				<script>
		        var vmplayer = true;
		        </script>