<section id="apresentacao" class="<?=($this->banner||$this->banners) ? 'has-banner' : ''?>">
	<div id="texto-home">
		<?=$this->pagina->body?>
	</div>

	<nav id="produtos">
		<? foreach($this->produtos as $row){ ?>
		<a href="<?=URL.'/solucoes/produto/'.$row->alias.'-'.$row->id?>" class="<?=($row->foto_path) ? 'has-logo' : ''?> col-<?=count($this->produtos)?>">
			<span class="titulo"><?=$row->titulo?></span>
			
			<? if($row->foto_path){ ?>
			<span class="logo">
				<?=Image::src('produtos/'.$row->foto_path)?>
			</span>
			<? } ?>
			
			<span class="descricao">
				<?=$row->descricao?>
			
				<? if($row->modulos && !in_array($row->id, array(3))){ ?>
				<ul class="modulos">
					<? foreach($row->modulos as $mod){ ?>
					<li>&raquo; <?=$mod->titulo?></li>
					<? } ?>
				</ul>
				<? } ?>

				<? if($row->id!=2){ ?>
				<span class="adquira">
					+ Adquira qualquer módulo do Humanus Facility para
					complementar suas rotinas do <?=$row->titulo?>!
				</span>
				<? } ?>
			</span>
		</a>
		<? } ?>
	</nav>

	<a href="<?=URL?>/solucoes/produtos" class="link-produtos">CONHEÇA TODAS AS SOLUÇÕES HUMANUS</a>
</section>

<section id="novidades">
	<? $pagweb = $this->pagina_webinars; ?>
	<div id="webinars">
		<h3>
			<? if((bool)trim($pagweb->url)){ ?>
			<a href="<?=$pagweb->url?>" class="assista" target="_blank"><?=$pagweb->url_text?> &raquo;</a>
			<? } else { ?>
			<a href="<?=URL?>/solucoes/solucao/webinars-3" class="assista">Assista &raquo;</a>
			<? } ?>
			NOSSOS WEBINARS
		</h3>

		<div class="webinar-descricao"><?=$pagweb->body?></div>

		<? if($this->webinars){ ?>
		<ul class="webinar-videos">
			<? foreach($this->webinars as $row){ ?>
			<? $video = _checkVideoStr($row->url,array('embed_width'=>'100%','embed_height'=>'100%')); ?>
			<li>
				<a href="<?=$video->embedUrl?>" class="video video-fancybox" title="<?=$row->titulo?>">
					<img src="<?=$video->thumbnail?>" alt="<?=$row->titulo?>">
				</a>
			</li>
			<? } ?>
		</ul>
		<? } ?>
	</div>

	<div id="eventos">
		<h3>Agende-se para os próximos eventos</h3>

		<div class="slide-eventos desktop">
		<div class="slide">
		<? $i=-1; foreach($this->eventos as $row){ $i++; ?>
		<? list($ano,$mes,$dia) = explode('-', $row->data); ?>
		<? $url = '#';//URL.'/eventos/'.$row->alias; ?>
		<? $url = ((bool)trim($row->url)) ? $row->url : '#'; ?>
		<? if($i%2==0 && $i!=0){ ?>
		</div><div class="slide">
		<? } ?>
		<a href="<?=$url?>" class="evento" target="_blank">
			<span class="data">
				<span class="dia"><?=$dia?></span>
				<span class="mes"><?=$this->date2($row->data,'MONTH_NAME_SHORT')?></span>
				<span class="ano"><?=$ano?></span>
			</span>
			<span class="titulo"><?=$row->titulo?></span>
		</a>
		<? } ?>
		</div>
		</div>

		<div class="slide-eventos mobile-phone">
		<? $i=-1; foreach($this->eventos as $row){ $i++; ?>
		<? list($ano,$mes,$dia) = explode('-', $row->data); ?>
		<? $url = '#';//URL.'/eventos/'.$row->alias; ?>
		<? $url = ((bool)trim($row->url)) ? $row->url : '#'; ?>
		<a href="<?=$url?>" class="evento slide" target="_blank">
			<span class="data">
				<span class="dia"><?=$dia?></span>
				<span class="mes"><?=$this->date2($row->data,'MONTH_NAME_SHORT')?></span>
				<span class="ano"><?=$ano?></span>
			</span>
			<span class="titulo"><?=$row->titulo?></span>
		</a>
		<? } ?>
		</div>
		
		<a href="#" class="pager-prev" id="pager-prev"></a>
		<a href="#" class="pager-next" id="pager-next"></a>
	</div>

	<div id="noticias">
		<h3>
			<a href="<?=URL?>/blog">Artigos & Novidades</a>
		</h3>

		<ul id="noticias-list">
			<? foreach($this->noticias as $row){ ?>
			<? $url = URL.'/blog/post/'.$row->alias.'-'.$row->id; ?>
			<li>
				<a href="<?=$url?>">
					<span class="data"><?=$this->date2($row->data_cad,'DATE_LONG')?></span>
					<?=$row->titulo?>
				</a>
			</li>
			<? } ?>
		</ul>
	</div>
</section>

<? if($this->depoimentos){ ?>
<?=$this->divfull('depoimentos')->open()?>
<section id="depoimentos">
	<ul id="depoimentos-list">
		<? $i=0; foreach($this->depoimentos as $row){ $i++; ?>
		<li class="depoimento slide-<?=$i?>">
			<span class="depoimento-texto">
				<?=nl2br($row->body)?>
			</span> <br>
			<span class="depoimento-nome">
				<?=$row->nome?> -
				<?=$row->empresa?>
			</span>
		</li>
		<? } ?>
	</ul>
</section>
<?=$this->divfull()->close()?>
<? } ?>

<section id="tecnologias">
	<h3>Nossas Tecnologias</h3>
	
	<ul id="tecnologias-list">
		<? foreach($this->tecnologias as $row){ ?>
		<? $bg = (bool)trim($row->capa) ?
			Image::bg('tecnologias/'.$row->capa) : 
			null; ?>
		<li>
			<a href="#" class="tecnologia <?=($bg)?'logo':''?>" title="<?=$row->titulo?>" <?=$bg?>>
				<span class="titulo"><?=$row->titulo?></span>
			</a>
		</li>
		<? } ?>
	</ul>
</section>