    <div id="frm-consultoria" class="tabs-container">
        <ul id="lista-participantes">
        
        <? if(!$this->consultoria_membros){ ?>
        <li class="row"><label>&nbsp;</label>Nenhum membro ativo na cosultoria.</li>
        <? } ?>

        <? if($this->consultoria_membros) { ?>
        <li class="row"><label>Membros ativos:</label></li>
        <? foreach($this->consultoria_membros as $membro){ ?>
        <li class="row">
            <label>&nbsp;</label>
            <a class="consultoria-membro nome" href="<?=URL.'/admin/clientes/edit/'.$membro->id?>" target="_blank"><?=$membro->nome?></a>
            <a class="consultoria-membro email" href="<?=URL.'/admin/clientes/edit/'.$membro->id?>" target="_blank"><?=$membro->email?></a>
            <input type="hidden" class="consultoria-membro-id" name="consultoria_membro_id[]" value="<?=$membro->id?>">
            <a href="#" class="del-participante" title="Remover membro">Remover</a>
        </li>
        <? } ?>
        <? } ?>

        <li>
            <label>Adicionar Membro:</label>
            <input type="text" class="txt" name="consultoria_nomecompleto[]" placeholder="Nome">
            <input type="text" class="txt" name="consultoria_email[]" placeholder="E-mail">
            <a href="#" class="add-participante" title="Adicionar outro membro">Adicionar outro membro</a>
        </li>
        </ul>
    </div> <!-- #frm-consultoria -->