    <div id="frm-pgto" class="tabs-container">
        <!-- choose pgto -->
        <ul>
            <li>
                <label for="">Responsável pgto:</label>
                <label class="lbl-inline">
                    <input type="radio" name="pgto_tipo_pessoa[]" id="pgto_tipo_pessoa-0" value='0' <?=(@$this->dados_pgto['tipo_pessoa']==0)?'checked':''?> />
                    o mesmo
                </label>
                <label class="lbl-inline">
                    <input type="radio" name="pgto_tipo_pessoa[]" id="pgto_tipo_pessoa-1" value='1' <?=(@$this->dados_pgto['tipo_pessoa']==1)?'checked':''?> />
                    pessoa-fisica
                </label>
                <label class="lbl-inline">
                    <input type="radio" name="pgto_tipo_pessoa[]" id="pgto_tipo_pessoa-2" value='2' <?=(@$this->dados_pgto['tipo_pessoa']==2)?'checked':''?> />
                    pessoa-juridica
                </label>
            </li>
        </ul>

        <div id="frm-pgto1" class="<?=(@$this->dados_pgto['tipo_pessoa']==1)?'active':''?>">
        <ul>
            <? foreach($this->form_pgto1->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class")?>" id="li-pgto1-<?=$elm->getId()?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <?=$elm->render()?>
            </li>
            <? } ?>
        </ul>
        </div>

        <div id="frm-pgto2" class="<?=(@$this->dados_pgto['tipo_pessoa']==2)?'active':''?>">
        <ul>
            <? foreach($this->form_pgto2->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class")?>" id="li-pgto2-<?=$elm->getId()?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <?=$elm->render()?>
            </li>
            <? } ?>
        </ul>
        </div>
    </div>