<div id="form-new">
    <form action="<?=URL.'/admin/clientes/save-grupo'?>" method="post" id="frm-meus-dados" class="frm-meus-dados grupo">
    
    <div class="tabs">
    <ul class="tabs-navigation">
        <li><a href="#frm-dados">Participantes</a></li>
        <li><a href="#frm-pgto">Cobrança</a></li>
    </ul>

    <!-- tab containers -->
    <div id="frm-dados" class="tabs-container">
        <ul>
            <li>
                <label for="produto_id">Treinamento:</label>
                <?=$this->formSelect('produto_id',null,array('class'=>'txt'),$this->treinamentosKV)?>
            </li>
            <li class="sep"></li>
        </ul>

        <?/*<ul>
            <li>
                <label for="cliente_nome">Participante / Empresa:</label>
                <input type="text" name="cliente_nome" class="txt" />
            </li>
        </ul>*/?>

        <ul id="lista-participantes">
            <li>
                <label>Participante:</label>
                <input type="text" class="txt" name="nomecompleto[]" placeholder="Nome">
                <input type="text" class="txt" name="email[]" placeholder="E-mail">
                <a href="#" class="add-participante" title="Adicionar participante">Adicionar participante</a>
            </li>
        </ul>
    </div> <!-- #frm-dados -->

    <div id="frm-pgto" class="tabs-container">
        <!-- choose pgto -->
        <div id="frm-pgto2" class="active">
        <ul>
            <? foreach($this->form_pgto2->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class")?>" id="li-pgto2-<?=$elm->getId()?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <?=$elm->render()?>
            </li>
            <? } ?>
        </ul>
        </div>
    </div> <!-- #frm-pgto -->

    </div> <!-- .tabs -->
    
    <div class="bt-container">
        <input type="submit" class="bt" value="Salvar" id="submit" />
    </div>
    </form>
</div> <!-- #frm-new -->
