<? if($this->id){ ?>
<div class="content-right">
    <? /*if($this->row->cliente_consultoria) { ?>
    <div id="arquivos">
        <?=$this->render($this->section.'/new-consultoria-arquivos.phtml');?>
    </div>
    <? }*/ ?>
</div>
<? } ?>

<div id="form-new">
    <form action="<?=$this->form->getAction();?>" method="<?=$this->form->getMethod();?>" id="<?=$this->form->getId();?>" class="<?=$this->form->getId();?>">
    
    <?/*<div class="tabs">
    <ul class="tabs-navigation">
        <li><a href="#frm-dados">Dados pessoais</a></li>
        <? if($this->id) { // se for edit ?>
        <? if($this->row->cliente_treinamentos) { ?>
        <li><a href="#frm-pgto">Cobrança</a></li>
        <li><a href="#frm-turmas">Treinamentos</a></li>
        <? } ?>
        <? if($this->row->cliente_consultoria && !$this->row->consultoria_id) { ?>
        <li><a href="#frm-consultoria">Consultoria</a></li>
        <li><a href="#frm-instrucoes">Instruções Gerais</a></li>
        <? } ?>
        <? if($this->grupo_membros) { ?>
        <li><a href="#frm-grupo">Grupo</a></li>
        <? } ?>
        <? } else { // novo cadastro ?>
        <li><a href="#frm-pgto">Cobrança</a></li>
        <? } ?>
    </ul>*/?>

    <!-- tab containers -->
    <!-- #frm-dados -->
    <div id="frm-dados" class="tabs-container">
        <ul>
            <? foreach($this->form->getElements() as $elm){ ?>
            <? //if($elm->getId() == "telefone"){ continue; } ?>
            <? //if($elm->getId() == "celular"){ continue; } ?>
            
            <? if($elm->getId() == "senha"){ ?>
            <!--</ul><fieldset><h3><span class="legend"><?=$this->id?'ALTERAR ':''?>SENHA DE ACESSO</span></h3><ul>-->
            <? } // if senha ?>
            
            <li class="<?=$elm->getAttrib("class")?>" id="li-<?=$elm->getId()?>">
                <? if($elm->getId()=='cnpj'||$elm->getId()=='cpf'){ ?>
                <? $cpfcnpj = 'cnpj'; ?>
                <? if($this->row) $cpfcnpj = ((bool)trim($this->row->cpf)) ? 'cpf' : 'cnpj'; ?>
                <label for="">
                    <?=$this->formSelect('cpfcnpj',$cpfcnpj,array('class'=>'txt'),array(
                        "cnpj"=>"CNPJ*",
                        "cpf"=>"CPF*",
                    ))?>
                </label>
                <input type="text" name="cpf" id="cpf" class="txt mask-cpf" value="<?=@$this->row->cpf?>">
                <input type="text" name="cnpj" id="cnpj" class="txt mask-cnpj" value="<?=@$this->row->cnpj?>">
                <? } else { ?>
                <? if($elm->getId() != "submit"){ ?>
                <? $label = $elm->getLabel(); ?>
                <? if($elm->getId()=="nome") $label = ($cpfcnpj=='cpf') ? 'Nome*:' : 'Razão social*:'; ?>
                <label for="<?=$elm->getId()?>"><?=$label?></label>
                <? } ?>
                
                <?=$elm->render()?>

                <?//=($elm->getId() == "dddtel") ? $this->form->getElement('telefone')->render() : ''; ?>
                <?//=($elm->getId() == "dddcel") ? $this->form->getElement('celular')->render() : ''; ?>
                
                <? if($elm->getId() == "valor"){ ?>
                <!--<br clear="all" />-->
                <? } ?>

                <? if($elm->getId() == "senha"){ ?>
                <? if($this->row){ ?>
                <? //$flag_senha = '<span class="flag-senha">ativa</span> '.$elm->getLabel(); ?>
                <? $flag_senha = ($this->row->senha) ?
                    '<span class="flag-senha">Senha ativa</span>':
                    '<span class="flag-senha error">Senha pendente *</span>'; ?>
                <?=$flag_senha?>
                <? } ?>
                <? } // if senha ?>
                <? } // if cpf/cnpj ?>
            </li>
            <? if($elm->getId() == "senha-c"){ ?>
            </ul></fieldset>
            <? } ?>
            <? } ?>
            
            <? if($this->isNewEmpresa){ ?>
            <input type="hidden" name="new-empresa" value="1" >
            <? } ?>
        </ul>
    </div> <!-- #frm-dados -->
    
    <!-- #frm-pgto -->
    <?//=$this->render('clientes/new-pgto.phtml')?>
    
    <? if($this->id) { ?>
    <!-- #frm-turmas -->
    <?//=($this->row->cliente_treinamentos)?$this->render('clientes/new-turmas.phtml'):''?>
    <!-- #frm-consultoria -->
    <?//=($this->row->cliente_consultoria && !$this->row->consultoria_id)?$this->render('clientes/new-consultoria-membros.phtml'):''?>
    <?//=($this->row->cliente_consultoria && !$this->row->consultoria_id)?$this->render('clientes/new-consultoria-instrucoes.phtml'):''?>
    <!-- #frm-grupo -->
    <?//=($this->grupo_membros)?$this->render('clientes/new-grupo-membros.phtml'):''?>
    <? } ?>

    <?/*</div> <!-- .tabs -->*/?>
    
    <div class="bt-container">
        <input type="submit" class="bt" value="Salvar" id="submit" />
    </div>
    </form>
</div> <!-- #frm-new -->
