                <h1>DADOS DA EMPRESA</h1>
            
                <form action="<?=$this->form_meus_dados->getAction()?>" method="post" class="form-inscricao-padrao dados-pessoais-form empresa-admin">
                    <? //if(!$this->isMembroGrupo){ ?>
                    <p class="titulo-form">Atualize as informações caso necessário</p>
                    <br>
                    <label>
                        <span>CNPJ</span>
                        <input type="hidden" name="id_empresa" id="id_empresa" value="<?=@$this->dadosEmpresa['id']?>">
                        <? if(trim(@$this->dadosEmpresa['cnpj'])){ ?>
                        <input type="text" name="cnpjd" id="cnpjd" class="mask-cnpj disabled" value="<?=@Is_Format::cnpj($this->dadosEmpresa['cnpj'])?>" disabled>
                        <input type="hidden" name="cnpj" id="cnpj" value="<?=@Is_Format::cnpj($this->dadosEmpresa['cnpj'])?>">
                        <? } else { ?>
                        <input type="text" name="cnpj" id="cnpj" class="mask-cnpj" value="" required>
                        <? } ?>
                    </label>
                    <label>
                        <span>razão social</span>
                        <? if(trim(@$this->dadosEmpresa['nome'])){ ?>
                        <?/*<input type="text" name="nomed" id="nomecompletod" class="disabled" value="<?=@$this->dadosEmpresa['nome']?>" disabled>
                        <input type="hidden" name="nome" id="nomecompleto" value="<?=@$this->dadosEmpresa['nome']?>">*/?>
                        <input type="text" name="nome" id="nomecompleto" class="" value="<?=@$this->dadosEmpresa['nome']?>" required>
                        <? } else { ?>
                        <input type="text" name="nome" id="nomecompleto" class="" value="<?=@$this->dadosEmpresa['nome']?>" required>
                        <? } ?>
                    </label>
                    <label>
                        <span>área de atuação</span>
                        <input type="text" name="area_atuacao" id="area_atuacao" value="<?=@$this->dadosEmpresa['area_atuacao']?>">
                    </label>
                    <? /*if(@$this->dadosEmpresa['cliente_treinamentos']){ ?>
                    <label>
                        <span>nome (crachá)</span>
                        <input type="text" name="apelido" id="nomecracha" value="<?=@$this->dadosEmpresa['apelido']?>">
                    </label>
                    <? }*/ ?>
                    <?/*<label>
                        <span>empresa</span>
                        <input type="text" name="empresa" id="empresa" value="<?=@$this->dadosEmpresa['empresa']?>">
                    </label>*/?>
                    <? //if(@$this->dadosEmpresa['cliente_treinamentos']){ ?>
                    <label>
                        <span>website</span>
                        <input type="text" name="site" id="site" value="<?=@$this->dadosEmpresa['site']?>">
                    </label>
                    <? $mostraCep = (bool)$this->dadosEmpresa && @$this->dadosEmpresa['cep']; ?>
                    <label class="label-cep <?//=$mostraCep ? '' : 'hidden'?>">
                        <span>CEP</span>
                        <input type="text" name="cep" id="cep" class="half-width mask-cep" placeholder="digite para simular a busca" value="<?=@Is_Format::cep($this->dadosEmpresa['cep'])?>">
                        <div class="loading">&middot;&middot;&middot;</div>
                    </label>
                    <div class="campos-cep <?=$mostraCep ? '' : 'hidden'?>">
                        <label>
                            <span>endereço</span>
                            <input type="text" name="logradouro" id="logradouro" value="<?=@$this->dadosEmpresa['logradouro']?>">
                        </label>
                        <label>
                            <span>número</span>
                            <input type="text" name="numero" class="quarter-width" id="numero" value="<?=@$this->dadosEmpresa['numero']?>">
                        </label>
                        <label>
                            <span>complemento</span>
                            <input type="text" name="complemento" class="half-width" id="complemento" value="<?=@$this->dadosEmpresa['complemento']?>">
                        </label>
                        <label>
                            <span>bairro</span>
                            <input type="text" name="bairro" class="handle-bairro" id="bairro" value="<?=@$this->dadosEmpresa['bairro']?>">
                        </label>
                        <label>
                            <span>cidade</span>
                            <input type="text" name="cidade" class="handle-cidade" id="cidade" value="<?=@$this->dadosEmpresa['cidade']?>">
                        </label>
                        <label>
                            <span>UF</span>
                            <?=str_replace('name="uf_id"', 'name="uf_id"', $this->form_meus_dados->getElement('uf_id')->setValue(@$this->dadosEmpresa['uf_id'])->render())?>
                        </label>
                    </div>
                    <? //} // if cliente_treinamentos ?>
                    <label>
                        <span>responsável</span>
                        <input type="text" name="empresa_contato" id="empresa_contato" value="<?=@$this->dadosEmpresa['empresa_contato']?>">
                    </label>
                    <label>
                        <span>cargo</span>
                        <input type="text" name="cargo" id="cargo" value="<?=@$this->dadosEmpresa['cargo']?>">
                    </label>
                    <label>
                        <span>telefone fixo</span>
                        <input type="text" name="telefone" id="telefonefixo" class="mask-cel" value="<?=trim(@$this->dadosEmpresa['telefone'])?Is_Format::tel($this->dadosEmpresa['telefone'],'tel','-'):''?>" required>
                    </label>
                    <label>
                        <span>celular</span>
                        <input type="text" name="celular" id="telefonecelular" class="mask-cel" value="<?=trim(@$this->dadosEmpresa['celular'])?Is_Format::tel($this->dadosEmpresa['celular'],'cel','-'):''?>">
                    </label>
                    <? //} // if isMembroGrupo ?>

                    <h6 class="form-title sep">SENHA E DADOS DE LOGIN</h6>
                    <label>
                        <span>e-mail</span>
                        <input type="email" name="email" id="email" value="<?=$this->dadosCadastro['email']?>">
                        <input type="hidden" name="id" id="id" value="<?=$this->dadosCadastro['id']?>">
                    </label>
                    <label>
                        <span>senha atual</span>
                        <input type="password" name="senhaa" id="senhaa">
                    </label>
                    <label>
                        <span>alterar senha</span>
                        <input type="password" name="senha" id="senha">
                    </label>
                    <label>
                        <span>confirmar senha</span>
                        <input type="password" name="senhac" id="confirmasenha">
                    </label>

                    <input type="submit" class="prosseguir" value="SALVAR">
                    <?/*<div class="row">
                        <label for="cpf">CPF</label>
                        <div class="formulario">
                            <input type="text" name="cpfd" id="cpfd" class="mask-cpf disabled" value="<?=@Is_Format::cpf($this->dadosCadastro['cpf'])?>" disabled>
                            <input type="hidden" name="cpf" id="cpf" value="<?=@Is_Format::cpf($this->dadosCadastro['cpf'])?>">
                        </div>
                    </div>
                    <div class="row">
                        <label for="nomecompleto">nome completo</label>
                        <div class="formulario">
                            <input type="text" name="nomed" id="nomecompletod" class="disabled" value="<?=@$this->dadosCadastro['nome']?>" disabled>
                            <input type="hidden" name="nome" id="nomecompleto" value="<?=@$this->dadosCadastro['nome']?>">
                        </div>
                    </div>
                    <div class="row">
                        <label for="nomecracha">nome (crachá)</label>
                        <div class="formulario">
                            <input type="text" name="apelido" id="nomecracha" value="<?=@$this->dadosCadastro['apelido']?>">
                        </div>
                    </div>
                    <div class="row">
                        <label for="telefonefixo">telefone fixo</label>
                        <div class="formulario">
                            <input type="text" name="telefone" id="telefonefixo" class="mask-tel" value="<?=@Is_Format::tel($this->dadosCadastro['telefone'],'tel','-')?>">
                        </div>
                    </div>
                    <div class="row">
                        <label for="telefonecelular">telefone celular</label>
                        <div class="formulario">
                            <input type="text" name="celular" id="telefonecelular" class="mask-cel" value="<?=@Is_Format::tel($this->dadosCadastro['celular'],'cel','-')?>">
                        </div>
                    </div>
                    <div class="row">
                        <label for="cep">CEP</label>
                        <div class="formulario">
                            <input type="text" name="cep" id="cep" class="mask-cep" value="<?=@Is_Format::cep($this->dadosCadastro['cep'])?>">
                        </div>
                    </div>
                    <div class="row">
                        <label for="endereco">endereço</label>
                        <div class="formulario">
                            <input type="text" name="logradouro" id="logradouro" value="<?=@$this->dadosCadastro['logradouro']?>">
                        </div>
                    </div>
                    <div class="row">
                        <label for="numero">número</label>
                        <div class="formulario">
                            <input type="text" name="numero" id="numero" value="<?=@$this->dadosCadastro['numero']?>">
                        </div>
                    </div>
                    <div class="row">
                        <label for="complemento">complemento</label>
                        <div class="formulario">
                            <input type="text" name="complemento" id="complemento" value="<?=@$this->dadosCadastro['complemento']?>">
                        </div>
                    </div>
                    <div class="row">
                        <label for="bairro">bairro</label>
                        <div class="formulario">
                            <input type="text" name="bairro" id="bairro" value="<?=@$this->dadosCadastro['bairro']?>">
                        </div>
                    </div>
                    <div class="row">
                        <label for="cidade">cidade</label>
                        <div class="formulario">
                            <input type="text" name="cidade" id="cidade" value="<?=@$this->dadosCadastro['cidade']?>">
                        </div>
                    </div>
                    <div class="row">
                        <label for="uf">UF</label>
                        <div class="formulario">
                            <!-- <input type="text" name="uf" id="uf" maxlength="2"> -->
                            <?//=$this->form_meus_dados->getElement('uf')->render()?>
                            <?=$this->form_meus_dados->getElement('uf_id')->setValue(@$this->dadosCadastro['uf_id'])->render()?>
                        </div>
                    </div>
                    <div class="row">
                        <label for="empresa">empresa</label>
                        <div class="formulario">
                            <input type="text" name="empresa" id="empresa" value="<?=@$this->dadosCadastro['empresa']?>">
                        </div>
                    </div>
                    <div class="row">
                        <label for="cargo">cargo</label>
                        <div class="formulario">
                            <input type="text" name="cargo" id="cargo" value="<?=@$this->dadosCadastro['cargo']?>">
                        </div>
                    </div>
                    <div class="row">
                        <label for="atuacao">área de atuação</label>
                        <div class="formulario">
                            <input type="text" name="area_atuacao" id="area_atuacao" value="<?=@$this->dadosCadastro['area_atuacao']?>">
                        </div>
                    </div>

                    <h6>DADOS DE LOGIN</h6>
                    <div class="row">
                        <label for="email">e-mail</label>
                        <div class="formulario">
                            <input type="email" name="email" id="email" value="<?=$this->dadosCadastro['email']?>">
                            <input type="hidden" name="id" id="id" value="<?=$this->dadosCadastro['id']?>">
                        </div>
                    </div>
                    <div class="row">
                        <label for="senha">senha atual</label>
                        <div class="formulario">
                            <input type="password" name="senhaa" id="senhaa">
                        </div>
                    </div>
                    <div class="row">
                        <label for="senha">alterar senha</label>
                        <div class="formulario">
                            <input type="password" name="senha" id="senha">
                        </div>
                    </div>
                    <div class="row">
                        <label for="confirmasenha">confirmar senha</label>
                        <div class="formulario">
                            <input type="password" name="senhac" id="confirmasenha">
                        </div>
                    </div>

                    <a href="#" class="form-submit save">
                        <span>SALVAR</span>
                    </a>*/?>
                </form>