				<? /*if((bool)$this->rows){ ?>
                <div class="treinamento-detalhe">
                    <span class="titulo">
                    	<a href="#" class="titulo-voltar js-back">&laquo; voltar</a>
                    	<?=$this->rows[0]->treinamento?>
                    </span>
                    <p class="data"><span class="label"><?=$this->rows[0]->titulo?></span></p>
                </div>

                <p>
                <ul class="lista-notas">
				<li class="aviso-avaliacao-respondida">
					OBRIGADO POR RESPONDER A AVALIAÇÃO DE SATISFAÇÃO.
					<br><br>
					A partir de agora você já pode imprimir ou solicitar seu Certificado de Conclusão do Curso.
				</li>
                </ul>
                </p>

				<? } else {*/ ?>
				<p>
				<?/*<ul>
				<li class="aviso-avaliacao-disp">
					A AVALIAÇÃO DE SATISFAÇÃO FICA DISPONÍVEL APÓS O TÉRMINO DAS AULAS
				</li>
                </ul>*/?>
                <ul class="lista-notas">
				<li class="aviso-avaliacao-respondida">
					OBRIGADO POR RESPONDER A AVALIAÇÃO DE SATISFAÇÃO.
				</li>
                </ul>
                </p>
				<? //} ?>