					<? $row = $this->row; ?>
					<? if((bool)@$this->materiais) { ?>
					<ul id="consultorias">
						<? foreach($this->materiais as $row){ ?>
						<? $data_cad = Is_Date::am2br($row->data_cad); ?>
						<? $url_file = URL.'/public/files/produtos/'.$row->arquivo_path; ?>
						<li class="consultoria">
							<a href="<?=$url_file?>" class="bt-cons bt-cons-download" target="_blank">Download</a>
							<span class="data"><?=$data_cad?></span>
							<span class="titulo"><?=$row->arquivo_descricao?></span> <br>
							<?=nl2br($row->arquivo_obs)?>
						</li>
						<? } ?>
					</ul>
		            <? } else { ?>
		            <p>Nenhum material encontrado.</p>
		            <? } ?>