<section id="produtos">
<h1>PRODUTOS</h1>
<? $foto = $this->pagina1->foto_fixa->foto1; ?>
<?=((bool)trim($foto))?Image::src('paginas/'.$foto,'class="banner"'):''?>
<?//=Image::src('banner-produtos.png','class="banner"')?>

<? if($this->produtos) foreach($this->produtos as $row){ ?>
<? $url = URL.'/solucoes/produto/'.$row->alias.'-'.$row->id; ?>
<div class="produto-chamada">
	<h2 class="titulo"><?=$row->titulo?></h2>
	<?=$row->descricao?>

	<? if($row->modulos){ ?>
	<ul>
		<? foreach($row->modulos as $m){ ?>
		<li>&raquo; <?=$m->titulo?></li>
		<? } ?>
	</ul>
	<? } ?>
	
	<a href="<?=$url?>" class="ver-mais botao botao-setar">Ver mais</a>
</div>
<? } ?>
</section>

<? $i=-1; foreach($this->paginas as $pag){ $i++; ?>
<? if($pag->id==9){ continue; } ?>
<? $img = $pag->fotos_fixas ? $pag->fotos_fixas[0] : null; ?>
<? if($img) $img = (bool)trim($pag->fotos_fixas[0]->foto1) ? $pag->fotos_fixas[0]->foto1 : null; ?>
<? $url = URL.'/solucoes/solucao/'.$pag->alias.'-'.$pag->id; ?>
<? $olho = ($pag->id==3) ? 'body' : 'olho'; ?>
<? $class = ($pag->id==3) ? 'webinar' : 'solucao'; ?>
<h1 id="pagina-<?=$i?>"><?=$pag->titulo?></h1>
<?=(($i-1)%2===0) ? $this->divfull($class)->open() : ''?>
<section class="solucao solucao-<?=($pag->id==3) ? 'webinar' : 'servico'?> solucao-<?=$pag->id?> solucao-<?=$pag->alias?>" data-alias="<?=$pag->alias?>" id="solucao-<?=$i?>">
	<? if($img){ ?>
	<?=Image::src('paginas/'.$img,'class="img"')?>	
	<? } ?>
	<div class="texto-wrapper">
		<div class="texto"><?=$pag->{$olho}?></div>
		<a href="<?=$url?>" class="ver-mais botao botao-setar">Ver mais</a>
	</div>
</section>
<?=(($i-1)%2===0) ? $this->divfull($class)->close() : ''?>
<? } ?>

<div class="sep" class=""></div>