<h1>PRODUTOS</h1>

<section class="produto-topo">
	<? if($img = $this->produto->foto_path){ ?>
	<?=Image::src('produtos/'.$img,'class="img"')?>
	<? } ?>
	<h2 class="titulo"><?=$this->produto->titulo?></h2>
	<div class="descricao">
		<?=nl2br($this->produto->descricao_completa)?>
	</div>
</section>

<? if($this->produto->modulos){ ?>
<section class="modulos" data-columns>
	<? foreach($this->produto->modulos as $row){ ?>
	<div class="modulo">
		<? if($img = $row->foto_path){ ?>
		<?=Image::src('modulos/'.$img,'class="img"')?>
		<? } ?>
		<h2 class="titulo"><?=$row->titulo?></h2>
		<div class="texto"><?=$row->descricao?></div>
	</div>
	<? } ?>
</section>
<? } ?>

<div class="center bt-voltar">
	<a href="<?=URL?>/solucoes" class="voltar botao botao-setal">Voltar</a>
</div>