<script>var PAGINA_ID = <?=$this->pagina->id?>;</script>
<h1><?=$this->pagina->titulo?></h1>

<section class="solucao-interna">
	<? if($img = $this->pagina->fotos_fixas->foto1){ ?>
	<?=Image::src('paginas/'.$img,'class="img"')?>
	<? } ?>
	<div class="texto-wrapper">
		<div class="texto"><?=$this->pagina->body?></div>
		<a href="<?=URL?>/solucoes" class="voltar botao botao-setal">Voltar</a>
	</div>
</section>