<script>var PAGINA_ID = <?=$this->pagina->id?>;</script>
<h1><?=$this->pagina->titulo?></h1>

<section class="webinars">
	<? if($this->webinars){ $i=0; foreach($this->webinars as $row){ $i++; ?>
	<? $video = _checkVideoStr($row->url,array('embed_width'=>'100%','embed_height'=>'100%')); ?>
	<a href="<?=$video->embedUrl?>" class="video video-fancybox" title="<?=$row->titulo?>">
		<img src="<?=$video->thumbnail?>" alt="<?=$row->titulo?>">
		<span class="titulo"><?=$row->titulo?></span>
	</a>
	
	<? if($i%3===0){ ?>
	<br class="desktop" clear="all">
	<br class="mobile-tablet" clear="all">
	<? } ?>
	<? if($i%2===0){ ?>
	<br class="mobile-phone" clear="all">
	<? } ?>

	<? }} ?>
</section>

<br clear="all"><br>
<div class="center bt-voltar">
	<a href="<?=URL?>/solucoes" class="voltar botao botao-setal">Voltar</a>
</div>
<br><br>