<?=Js::load(JS_PATH."/admin/search.js");?>

<?=$this->render($this->section."/search.phtml");?>

<div class="pousada search-result">
    <? if($this->rows){ ?>
    <table>
        <thead>
            <tr>
                <td>Título</td>
                <td>Endereço</td>
                <td width="100" align="center">Telefone</td>
                <!-- <td width="50" align="center">Status</td> -->
                <td width="70" align="center">Ordem</td>
                <td width="50" align="center">Excluir</td>
            </tr>
        </thead>
        <tbody>
            <? foreach($this->rows as $row){ ?>
            <? //$status = $row->status_id == 0 ? "Inativo" : "Ativo"; ?>
            <tr>
                <td>
                    <a href="<?=URL?>/admin/<?=$this->section?>/edit/<?=$row->id?>/"><?=$row->titulo?></a>
                </td>
                <td>
                    <a href="<?=URL?>/admin/<?=$this->section?>/edit/<?=$row->id?>/"><?=$row->endereco?></a>
                </td>
                <td align="center">
                    <a href="<?=URL?>/admin/<?=$this->section?>/edit/<?=$row->id?>/"><?=$row->tel1?></a>
                </td>
                <?/*<td align="center">
                    <a href="<?=URL?>/admin/<?=$this->section?>/edit/<?=$row->id?>/"><?=$status?></a>
                </td>*/?>
                <td width="70" align="center">
                    <a href="#" class="row-order order-up" title="Clique ou arraste para ordenar"></a><a href="#" class="row-order order-down" title="Clique ou arraste para ordenar"></a>
                    <input type="hidden" class="row-id" name="id[]" value="<?=$row->id?>" />
                    <input type="hidden" class="txt row-ordem" name="ordem[]" value="<?=$row->ordem?>" />
                </td>
                <td align="center">
                    <a href="<?=URL?>/admin/<?=$this->section?>/del/id/<?=$row->id?>/" class="del">X</a>
                </td>
            </tr>
            <? } ?>
        </tbody>
    </table>
    <? } else { ?>
    Nenhum registro.
    <? } ?>
</div>