<div class="search-bar">
    <form action="<?=$this->url?>new/" method="get" class="order-form">
        <input type="submit" class="bt" value="+ Adicionar" />
    </form>
    
    <form action="" method="get" class="search-form">
        <label for="search-by" class="search-label">Buscar por:</label>
        <?=$this->formSelect('search-by',@$_POST['search-by'],array('class'=>'txt'),array(
            'titulo'=>'Título',
            'endereco'=>'Endereço',
        ))?>
        <input type="text" class="txt" name="search-txt" id="search-txt" value="<?=@$_POST['search-txt']?>" />
        <input type="hidden" name="search-action" value="search" />
        <input type="submit" class="bt" value="Enviar" />
    </form>
</div>