                <?/*<h3>
                    Olá, Seja Bem-vindo
                </h3>*/?>
                <form action="<?=URL.'/login'?>" id="form-login" method="post" class="form-inscricao-padrao inscricao-login-form">
                    <label>
                        <input type="text" autofocus name="login" id="email" class="txt required" placeholder="e-mail" required data-validate="Preencha seu e-mail corretamente">
                    </label>
                    <label>
                        <input type="password" name="senha" id="senha" class="txt required" placeholder="senha" required data-validate="Preencha sua senha corretamente">
                    </label>
                    
                    <?/*<a href="<?=URL?>/esqueci-minha-senha">esqueci minha senha »</a>*/?>
                    
                    <input type="submit" class="submit" value="ENTRAR">
                    <a href="<?=URL?>/esqueci-minha-senha" class="botao-sair">esqueci minha senha &raquo;</a>
                </form>

                <? /*if($this->sessionRedirect->controller=='portal'){ ?>
                <a href="<?=URL?>/cadastro/consultoria" class="acesso-consultoria">
                    Primeiro acesso como cliente da Consultoria &raquo;
                </a>
                <? }*/ ?>

                <?/*<? if($this->sessionRedirect->controller=='portal'){ ?>
                <img src="<?=URL.'/public/img/layout/img-treinamentos-abertos.png'?>" alt="">
                <h4 class="return-<?=$this->sessionRedirect->controller?>">
                    PORTAL DO ALUNO
                </h4>
                <? } else { ?>
                <h4>FORMULÁRIO DE INSCRIÇÃO</h4>
                <? } ?>

                <div class="inscricao-wrapper">
                    <form action="<?=URL.'/login'?>" id="form-cliente" method="post">
                        <? if($this->sessionRedirect->controller=='portal'){ ?>
                        <p>ACESSAR O PORTAL DO ALUNO</p>
                        <? } else { ?>
                        <p>JÁ SOU CLIENTE:</p>
                        <? } ?>
                        
                        <input type="email" name="login" id="email" placeholder="e-mail" data-validate="Preencha seu e-mail corretamente">
                        <input type="password" name="senha" id="senha" placeholder="senha" data-validate="Preencha sua senha corretamente">
                        <a href="<?=URL?>/esqueci-minha-senha">esqueci minha senha »</a>
                        <input type="submit" value="ENTRAR">
                    </form>
                </div>*/?>