				<form action="<?=URL.'/esqueci-minha-senha'?>" id="form-login" method="post" class="form-inscricao-padrao inscricao-login-form">
                    <label>
                        <input type="email" name="email" id="email" class="txt required" required placeholder="e-mail" data-validate="Preencha seu e-mail corretamente">
                    </label>

                    <input type="submit" class="submit" value="ENVIAR">
                    <a href="<?=URL?>/login" class="botao-sair">&laquo; voltar ao login</a>
                </form>


				<?/*<h4>ESQUECI MINHA SENHA</h4>
                <div class="inscricao-wrapper">
                    <form action="<?=URL.'/esqueci-minha-senha'?>" id="form-cliente" method="post">
                        <p>Insira seu e-mail para recuperar sua senha:</p>
                        <input type="email" name="email" id="email" placeholder="e-mail" data-validate="Preencha seu e-mail corretamente">
                        <a href="<?=URL?>/login">voltar ao login »</a>
                        <input type="submit" value="ENVIAR">
                    </form>
                </div>*/?>