			<p class="titulo-login">REALIZAR MINHA INSCRIÇÃO NOS TREINAMENTOS ACIMA</p>
            <a href="<?=URL.'/login?return='.$this->controller.'.'.$this->action?>" class="link-login">JÁ SOU CLIENTE</a>
            <a href="<?=URL.'/cadastro?return='.$this->controller.'.'.$this->action?>" class="link-login">NOVO CADASTRO</a>

				<?/*<h4>FORMULÁRIO DE INSCRIÇÃO</h4>
                <div class="inscricao-wrapper">
                    <a href="<?=URL.'/cadastro?return='.$this->controller.'.'.$this->action?>" class="botao-inicio">NOVO CADASTRO</a>
                    <a href="<?=URL.'/login?return='.$this->controller.'.'.$this->action?>" class="botao-inicio">JÁ SOU CLIENTE</a>
                </div>*/?>