<? //if($this->sessionRedirect->controller=='portal'){ ?>
<h1 class="dados-pessoais">
    ÁREA DO CLIENTE - LOGIN
    <?/*<a href="<?=URL?>/esqueci-minha-senha" class="botao-sair">esqueci minha senha &raquo;</a>*/?>
</h1>
<? /*} else { ?>
<h1 class="dados-pessoais">
    JÁ SOU CLIENTE:
    <?/*<a href="<?=URL?>/esqueci-minha-senha" class="botao-sair">esqueci minha senha &raquo;</a>//?>
</h1>
<? }*/ ?>

<div class="content treinamentos">
    <div class="center1">
        <?/*<div class="content-left">
            <? if($this->sessionRedirect->controller=='portal'){ ?>
            <img src="<?=PUBLIC_PATH?>/img/lateral-portal.png" alt="">
            <? } else { ?>
            <?=$this->render('treinamentos/aside.phtml')?>
            <? } ?>
        </div>*/?>

        <div class="content-main inscricao center">
            <?=$this->render('login/form-login.phtml')?>
        </div>

        <? if(@$this->cart->items){ ?>
        <div class="content-right">
            <?/*=($this->continue_cadastro)?
                    $this->render('meu-carrinho/pagina-cart-continue.phtml'):
                    $this->render('meu-carrinho/pagina-cart.phtml')*/?>
            <?=($this->steps) ? $this->render('meu-carrinho/pagina-cart-processo.phtml') : ''?>
        </div>
        <? } ?>
    </div>
</div>

    <?/*<div class="main treinamentos">
        <div class="title"></div>

        <div class="center">
            <div class="aside">
                <?=$this->render('treinamentos/aside.phtml')?>
            </div>

            <div class="conteudo">
                <?=($this->steps) ? $this->render('meu-carrinho/pagina-cart.phtml') : ''?>

                <?=$this->render('login/form-login.phtml')?>
            </div>
        </div>
    </div>*/?>