<? if(!$this->hide_title){ ?>
<h2 class="page-title default <?=$this->controller?>">
    <span>Faça seu login</span>
</h2>
<? } ?>

<div class="content-text">
    <div class="box box-cadastro">
        <h1>Cadastre-se</h1>

        <p>
            Caso você ainda não tenha efetuado seu cadastro, clique no botão
            abaixo e preencha nosso formulário. É fácil e rápido!
        </p>

        <a href="<?=URL?>/cadastro" class="link-register">
            Cadastrar
        </a>
    </div>

    <div class="box box-login">
        <h1>Já sou cadastrado</h1>
        
        <form action="" method="post" id="frm-login" class="login">
            <ul>
                <li>
                    <label>Digite seu e-mail:</label>
                    <input type="text" class="txt" name="login" id="login" data-validate="true" data-errmsg="Login incorreto" />
                </li>
                <li>
                    <label>
                        Digite sua senha: 
                        <a href="<?=URL?>/esqueci-minha-senha" class="link-u open-esqueci-senha">(esqueceu sua senha?)</a>
                    </label>
                    <input type="password" class="txt" name="senha" id="senha" data-validate="true" data-errmsg="Senha incorreta" />
                </li>
            </ul>

            <div class="cart-continue bt-red-whole center">
                <a href="#" id="login-submit">
                    Entrar
                </a>
            </div>
        </form>
    </div>
</div>