				<!-- <h1>CONSULTORIA</h1> -->

				<nav class="consultoria-menu">
					<a class="consultoria-menu-link recebidos" href="<?=URL.'/portal/consultoria'?>">Arquivos recebidos</a>
					<a class="consultoria-menu-link enviados active" href="<?=URL.'/portal/consultoria/enviados'?>">Arquivos enviados</a>
					<a class="consultoria-menu-link fluxo" href="<?=URL.'/portal/consultoria/fluxo'?>">Fluxo por data</a>
				</nav>

				<?=$this->render('consultoria/form-arquivos.phtml')?>

				<ul id="consultorias">
					<? foreach($this->rows as $row){ ?>
					<? $data_cad = Is_Date::am2br($row->data_cad); ?>
					<? $url_file = URL.'/portal/consultoria/arquivos-del/file/'.$row->arquivo_id; ?>
					<li class="consultoria">
						<a href="<?=$url_file?>" class="bt-cons bt-cons-del">Excluir</a>
						<span class="data"><?=$data_cad?></span>
						<span class="titulo"><?=$row->arquivo_titulo?></span> <br>
						<?=Is_Str::crop($row->arquivo_obs,120)?>
					</li>
					<? } ?>
				</ul>
