				<form action="<?=URL?>/portal/consultoria/enviar" id="frm-consult" enctype="multipart/form-data" method="post">
					<a href="#" id="open-frm-consult" class="">Enviar arquivo</a>

					<ul>
						<li id="arquivo-consultoria">
							<label for="arquivo">arquivo</label>
							<label for="arquivo" id="curriculo">
		                        <span class="bt-consult texto">SELECIONAR ARQUIVO</span>
		                        <span class="filename">&nbsp;</span>
		                        <input type="file" name="arquivo" id="arquivo">
		                    </label>
						</li>
						<li>
							<label for="descricao">título do arquivo</label>
							<input type="text" name="descricao" id="descricao">
						</li>
						<li>
							<label for="obs">descritivo</label>
							<input type="text" name="obs" id="obs">
						</li>
						<li>
							<label for="">&nbsp;</label>
							<input type="submit" name="" value="Enviar" class="bt-consult submit">
						</li>
					</ul>
				</form>