				<!-- <h1>CONSULTORIA</h1> -->

				<nav class="consultoria-menu">
					<a class="consultoria-menu-link recebidos active" href="<?=URL.'/portal/consultoria'?>">Arquivos recebidos</a>
					<a class="consultoria-menu-link enviados" href="<?=URL.'/portal/consultoria/enviados'?>">Arquivos enviados</a>
					<a class="consultoria-menu-link fluxo" href="<?=URL.'/portal/consultoria/fluxo'?>">Fluxo por data</a>
				</nav>

				<?//=$this->render('consultoria/form-arquivos.phtml')?>

				<ul id="consultorias">
					<? foreach($this->rows as $row){ ?>
					<? $data_cad = Is_Date::am2br($row->data_cad); ?>
					<? $url_file = URL.'/public/files/consultorias/'.$row->arquivo_path; ?>
					<li class="consultoria">
						<a href="#detalhes-<?=$row->arquivo_id?>" class="bt-cons bt-cons-detalhes">
							<span class="icone-mais">
								<span class="stroke1"></span>
								<span class="stroke2"></span>
							</span>
							Detalhes
						</a>
						<span class="bt-cons-sep"></span>
						<a href="<?=$url_file?>" class="bt-cons bt-cons-download" download="<?=$row->arquivo_descricao?>">Download</a>
						<span class="data"><?=$data_cad?></span>
						
						<span class="titulo"><?=$row->arquivo_titulo?></span> <br>
						<?=Is_Str::crop($row->arquivo_obs,70)?>
						
						<?/*<br clear="all" class="mobile br-sep">
						<br clear="all" class="mobile br-sep">
						<span class="mobile data"><?=$data_cad?></span>
						<a href="<?=$url_file?>" class="mobile bt-cons bt-cons-download" download="<?=$row->arquivo_descricao?>">Download</a>
						<span class="mobile bt-cons-sep"></span>
						<a href="#detalhes-<?=$row->arquivo_id?>" class="mobile bt-cons bt-cons-detalhes">
							<span class="icone-mais">
								<span class="stroke1"></span>
								<span class="stroke2"></span>
							</span>
							Detalhes
						</a>*/?>
					</li>
					<? } ?>
				</ul>

				<div class="fb-content">
					<? foreach($this->rows as $row){ ?>
					<div class="detalhe-arquivo" id="detalhes-<?=$row->arquivo_id?>">
						<h3><?=$row->arquivo_titulo?></h3>
						<h4><?=nl2br($row->arquivo_obs)?></h4>

						<ul>
							<li>
								<label>Nome</label>
								<?=$row->arquivo_titulo?> &nbsp;
							</li>
							<li>
								<label>Descrição</label>
								<?=$row->arquivo_obs?> &nbsp;
							</li>
							<li>
								<label>Licença</label>
								<?=$row->arquivo_licenca?> &nbsp;
							</li>
							<li>
								<label>Arquivo</label>
								<?=$row->arquivo_descricao?> &nbsp;
							</li>
							<li>
								<label>Versão</label>
								<?=$row->arquivo_versao?> &nbsp;
							</li>
							<li>
								<label>Tamanho</label>
								<?=$row->arquivo_tamanho?> &nbsp;
							</li>
							<li>
								<label>Tipo</label>
								<?=$row->arquivo_tipo?> &nbsp;
							</li>
							<li>
								<label>Proprietário</label>
								<?=$row->arquivo_autor?> &nbsp;
							</li>
							<li>
								<label>Adicionado</label>
								<?=Is_Date::am2brWithTime($row->arquivo_data_cad,' ',':',1)?> &nbsp;
							</li>
							<li>
								<label>Hits</label>
								<?=$row->arquivo_hits?> &nbsp;
							</li>
							<li>
								<label>Modificado</label>
								<?=Is_Date::am2brWithTime($row->arquivo_data_edit,' ',':',1)?> &nbsp;
							</li>
							<li>
								<label>Md5check</label>
								<?=$row->arquivo_md5check?> &nbsp;
							</li>
						</ul>
					</div>
					<? } ?>
				</div>
