<?
$js_path  = SCRIPT_MIN == 'load' ? JS_PATH.'/'  : '';
$css_path = SCRIPT_MIN == 'load' ? CSS_PATH.'/' : '';
$script_min = SCRIPT_MIN;
$js  = array($js_path.'libs.js',$js_path.'layout.js');;//,$js_path.'alert2.js');//,$js_path.'is.shop.js');
$css = array($css_path.'global.less');

if(!$this->meta_description) $this->meta_description = SITE_DESCRIPTION;
if(!$this->meta_keywords) $this->meta_keywords = Is_Str::text2keywords($this->meta_description);

$page_title = '';
if(isset($this->titulo)){
    $page_title.= $this->titulo." - ";
    $page_title.= SITE_TITLE;
} else { 
    $page_title.= $this->controller != 'index'?ucfirst(Is_Str::subsCaracteres($this->controller," "))." - ":''; 
    $page_title.= SITE_TITLE;
}
?>

<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title><?=$page_title?></title>
<meta name="description" content="<?=$this->meta_description?>" />
<meta name="keywords" content="<?=$this->meta_keywords?>" />
<meta name="robots" content="index, follow" />
<? if($this->meta_canonical){ ?>
<link rel="canonical" href="<?=$this->meta_canonical?>" />
<? } ?>

<meta property="og:url" content="<?=$this->meta_og_url?$this->meta_og_url:URL?>"/>
<meta property="og:title" content="<?=$this->meta_og_title?$this->meta_og_title:$page_title?>"/>
<meta property="og:description" content="<?=$this->meta_og_description?$this->meta_og_description:$this->meta_description?>"/>
<meta property="og:image" content="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/logotipo-share.png'?>"/>
<meta property="og:image:width" content="200" />
<meta property="og:image:height" content="200" />
<link rel="image_src" href="<?=$this->meta_og_image?$this->meta_og_image:URL.CSS_PATH.'/img/logotipo-share.png'?>" />

<script type="text/javascript">
var GLOBAL_URL = "<?=$this->url?>",
    URL        = "<?=URL?>",
    FULL_URL   = "<?=FULL_URL?>",
    ROOT_PATH  = "<?=ROOT_PATH?>",
    JS_PATH    = "<?=JS_PATH?>",
    CSS_PATH   = "<?=CSS_PATH?>",
    IMG_PATH   = "<?=IMG_PATH?>",
    DIR        = "<?=$this->section?>",
    MODULE     = "<?=$this->module?>",
    CONTROLLER = "<?=$this->controller?>",
    ACTION     = "<?=$this->action?>",
    SCRIPT     = <?=Js::exists($js_path.$this->controller) ? "\"{$this->controller}\"" : 'false'?>,
    <?=($this->module=='portal')?'SCRIPT = "portal",':''?>
    SITE_NAME  = "<?=SITE_NAME?>",
    ENV_DEV = <?=ENV_DEV ? 'true' : 'false'?>,
    ENV_PRO = <?=ENV_PRO ? 'true' : 'false'?>,
    ENV_TEST= <?=ENV_TEST? 'true' : 'false'?>,
    APP_ENV = "<?=APP_ENV?>",
    APPLICATION_ENV = "<?=APPLICATION_ENV?>";

if(!SCRIPT) SCRIPT = <?=Js::exists($js_path.$this->controller.'-'.$this->action) ? '"'.$this->controller.'-'.$this->action.'"' : 'false'?>;
</script>

<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
<?=Css::$script_min($css).PHP_EOL?>
<!--[if lt IE 9]>
<?=Css::$script_min($css_path.'global-ie.css')?>
<?=Js::$script_min($js_path.'html5.js')?>
<![endif]-->
</head>
<body class=" body-<?=$this->controller?> 
              body-<?=$this->controller.'-'.$this->action?> 
              body-<?=$this->module?> 
              body-<?=$this->module.'-'.$this->controller?> 
              body-<?=$this->module.'-'.$this->controller.'-'.$this->action?> 
              <?=($this->ajax ? 'ajax' : '')?>">

<?=$this->render("flash-messages.phtml");?>

<? if($this->controller=='index') { ?>
<?=($this->banner) ? $this->render('index/banner.phtml') : ''?>
<?=($this->banners) ? $this->render('index/banners.phtml') : ''?>
<? } ?>

<div class="top-container">
    <header id="top" class="top-<?=$this->controller?>">
        <span class="logo-bubbles">
            <span class="logo-bubbles1"></span>
            <span class="logo-bubbles2"></span>
            <span class="logo-bubbles3"></span>
        </span>
        <a class="site-title" href="<?=URL?>/" title="<?=SITE_TITLE?>"><?=SITE_TITLE?></a>

        <div id="top-navs">
            <a href="#" id="mobile-menu" class="mobile"></a>
            <nav class="top-menu-social" id="top-menu-social">
                <a href="<?=URL?>/portal" class="link-bt">Área do cliente</a>
                <? $link_suporte = @$this->home_links[1] ? $this->home_links[1]->valor : '#'; ?>
                <a href="<?=$link_suporte?>" class="link-bt" target="_blank">Suporte</a>
                <? if($this->empresa->facebook){ ?>
                <a href="<?=$this->empresa->facebook?>" class="link-social facebook" title="Curta nossa página no Facebook">&nbsp;</a>
                <? } ?>
                <? if($this->empresa->twitter){ ?>
                <a href="<?=$this->empresa->twitter?>" class="link-social twitter" title="Siga-nos no Twitter">&nbsp;</a>
                <? } ?>
            </nav>
        
            <nav class="top-menu" id="top-menu">
                <?=$this->navigation()->menu($this->menu->top);?>
            </nav>
        </div>
    </header>
</div>

<div class="main 
            main-<?=$this->controller?> 
            main-<?=$this->controller.'-'.$this->action?> 
            main-<?=$this->module?> 
            main-<?=$this->module.'-'.$this->controller?> 
            main-<?=$this->module.'-'.$this->controller.'-'.$this->action?> 
            <?=($this->ajax ? 'ajax' : '')?>">
    <div id="content" class="content content-<?=$this->controller?> content-<?=$this->controller.'-'.$this->action?>">
        <?=($this->module=='portal')?$this->render('portal-content-header.phtml'):''?>
        <article><?=$this->layout()->content;?></article>
        <?=($this->module=='portal')?$this->render('portal-content-footer.phtml'):''?>
        <br clear="all" />
    </div>
</div>

<div class="foot foot-<?=$this->controller?> <?=($this->ajax ? 'ajax' : '')?>">
    <footer>
        <nav class="footer-menu" id="footer-menu">
            <?=$this->navigation()->menu($this->menu->footer1)->setUlClass('footer-menu-1')->render();?>
            <?=$this->navigation()->menu($this->menu->footer2)->setUlClass('footer-menu-2')->render();?>
            <?=$this->navigation()->menu($this->menu->footer3)->setUlClass('footer-menu-3')->render();?>
        </nav>

        <ul class="tels">
            <? foreach($this->empresas as $emp) if((bool)trim($emp->tel1)){ ?>
            <li>
                <?=$emp->titulo?> <br>
                <b><?=$emp->tel1?></b>
            </li>
            <? } ?>
        </ul>

        <div class="credits">
            &copy; <?=date("Y")?> <?=SITE_TITLE?> <br> Todos os direitos reservados.
            <a href="http://www.trupe.net" class="cred-trupe-1" target="_blank">Criação de sites:</a>
            <a href="http://www.trupe.net" class="cred-trupe-2" target="_blank">Trupe Agência Criativa <img src="<?=CSS_PATH?>/img/footer_icone-trupe.png" alt="Trupe Agência Criativa" title="Trupe Agência Criativa"></a>
        </div>
    </footer>
</div>

<? if($this->pagina_ativa){ ?>
<script>var PAGINA_ATIVA = '<?=$this->pagina_ativa?>';</script>
<? } else { ?>
<script>var PAGINA_ATIVA = false;</script>
<? } ?>

<?=Js::$script_min($js).PHP_EOL?>
<? if(APPLICATION_ENV=='production') if(defined('GOOGLE_ANALYTICS_ID')) if(GOOGLE_ANALYTICS_ID) { ?>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '<?=GOOGLE_ANALYTICS_ID?>']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<? } ?>

<? if(APPLICATION_ENV!='production') if(defined('ZOPIM_ID')) if(ZOPIM_ID) { ?>
<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="https://v2.zopim.com/?<?=ZOPIM_ID?>";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zendesk Chat Script-->
<? } ?>

</body>
</html>