			<div class="inscricao-wrapper">
				<? if((bool)$this->rows){ ?>

				<div class="portal-voltar">
                    <a href="<?=URL?>/portal/treinamentos">&laquo; Retornar para meus treinamentos</a>
                </div>

                <div class="treinamento-detalhe">
                    <span class="titulo">
                    	<a href="#" class="titulo-voltar js-back">&laquo; voltar</a>
                    	<?=$this->rows[0]->treinamento?>
                    </span>
                    <p class="data"><span class="label">NOTAS</span></p>
                </div>

                <p>
                <ul class="lista-notas">
				<? foreach ($this->rows as $row) { ?>
				<li>
					<span class="label">Avaliação realizada em:</span>
					<?=Is_Date::am2br($row->data)?>
					<span class="label dir">Nota obtida:</span>
					<?=$row->nota?>
				</li>
				<? } ?>
				<li class="media">
					<span class="label">Média final:</span>
					<?=$this->media?>
				</li>
                </ul>
                </p>

				<? } else { ?>
				<p>Nenhuma avaliação encontrada.</p>
				<? } ?>
			</div>