<div class="content-right">
<? /*if($this->id){ ?>
<div id="fotos_fixas">
    <?=$this->render('modulos/fotos-fixas.phtml');?>
</div>
<? }*/ ?>
<? if($this->id){ ?>
<div id="fotos" class="fotos-produtos1 fotos-portfolio1">
    <?=$this->render($this->section.'/fotos.phtml');?>
</div>
<? } ?>
</div>

<div id="form-new">
    <form action="<?=$this->form->getAction();?>" method="<?=$this->form->getMethod();?>" id="<?=$this->form->getId();?>" class="<?=$this->form->getId();?> <?=$this->hide_form?'hidden':''?>">
        <ul>
            <? foreach($this->form->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class").' '.$elm->getId()?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                <?=$elm->render();?>
            </li>
            <? } ?>
        </ul>
        <div class="bt-container">
            <input type="submit" class="bt" value="<?=$this->id?'Salvar':'Criar'?>" id="submit" />
        </div>
    </form>
</div>

<? /*if($this->id){ ?>
<!--<div class="content-right">-->
    <div id="fotos" class="fotos-produtos fotos-portfolio">
        <?=$this->render($this->section.'/fotos.phtml');?>
    </div>
<!--</div>-->
<? }*/ ?>