@page {size: landscape}

.main { background-image:url('../img/logotipo-p.png'); }

.top { display:none; }
.admin-menu { display:none;border:none;box-shadow:none; }
.admin-menu ul { display:none; }
.admin-menu ul li { display:none; }
.admin-menu ul li a { display:none; }
.filter-forms { display:none; }
.foot { display:none; }
h2 { font-size:17px;text-transform:uppercase; }

table { border-collapse:collapse;width:100%; }
table th { font-weight:normal; }
table td,table th { border-bottom:1px solid #ccc;text-align:left; }
table td { color:#666; }
table thead td { color:#333; }