<?=(bool)$this->cores?Js::script('var CORES = '.json_encode($this->cores).';'):""?>

<? if($this->id){ ?>
<div class="content-right">
    <div id="fotos">
        <?=$this->render('produtos/fotos.phtml');?>
    </div>
    <?/*<div id="sugestoes">
        <?=$this->render('produtos/sugestoes.phtml');?>
    </div>*/?>
    
    <? if($this->formatos){ ?>
    <div id="formatos">
        <?=$this->render($this->section.'/formatos.phtml');?>
    </div>
    <? } ?>
    
    <? if($this->gramaturas){ ?>
    <div id="gramaturas">
        <?=$this->render($this->section.'/gramaturas.phtml');?>
    </div>
    <? } ?>
</div>
<? } ?>

<? //$produto = $this->getHelper('produtos'); $produto->setInfo($this->info); ?>

<div id="form-new">
    <form action="<?=$this->form->getAction();?>" method="<?=$this->form->getMethod();?>" id="<?=$this->form->getId();?>" class="<?=$this->form->getId();?>">
        <ul>
            <? foreach($this->form->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class")?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                <?=$elm->render();?>
                
                <? if($elm->getId() == "peso"){ ?>
                <span class="kg">Kg</span>
                <? } ?>
            </li>
            <? if($elm->getId() == "senha-c"){ ?>
            </ul></fieldset>
            <? } ?>
            <? } ?>
        </ul>
        <div class="bt-container">
            <input type="submit" class="bt" value="Salvar" id="submit" />
        </div>
    </form>
</div>