<?=Js::script('MAX_SIZE = '.($this->MAX_SIZE).'*1048576;')?>
<?=Js::script('allow_photos = '.($this->allow_photos ? 'false' : 'false').';')?>
<? if($this->id && $this->allow_photos){ $this->fotos_in_text = false; ?>
<div class="content-right">
    <div id="fotos">
        <?=$this->render($this->section.'/fotos.phtml');?>
    </div>
</div>
<? } ?>

<div id="form-new">
    <form action="<?=$this->form->getAction();?>" method="<?=$this->form->getMethod();?>" id="<?=$this->form->getId();?>" class="<?=$this->form->getId();?>">
        <ul>
            <? foreach($this->form->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class")?> li-<?=$elm->getId()?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <?=$elm->render()?>
                
                <? if($elm->getId() == "video2"){ ?>
                <span class="tip">* Insira uma URL do Youtube ou Vimeo, ou faça upload de um arquivo de vídeo.</span>
                <? } ?>
                <? if($elm->getId() == "video1") if(strstr($this->row->video, 'vimeo')){ ?>
                </li><li>
                <span class="tip">* Vídeos do Vimeo não podem ser tocados automaticamente em todos os navegadores móveis.</span>
                <? } ?>
            </li>
            <? } ?>
        </ul>
        <div class="bt-container">
            <input type="submit" class="bt" value="<?=$this->id?'Salvar':'Criar'?>" id="submit" />
        </div>
    </form>
</div>