<link rel="stylesheet" href="<?=CSS_PATH?>/jquery-ui/jquery-ui.css" id="theme" />

<h3>&raquo; IMAGENS</h3>

<ul id="<?=$this->section?>_fotos" class="list_fotos order_fotos">
    <? if(count($this->fotos)){ foreach($this->fotos as $foto){ ?>
    <li>
        <a href='<?=URL?>/img/<?=$this->section?>:<?=$foto->path?>' rel='gallery_group'>
            <img src='<?=URL?>/img/<?=$this->section?>:<?=$foto->path?>?w=90&h=90'>
        </a>
        <button title="Delete" class="ui-state-default ui-corner-all file-delete">
            <span class="ui-icon ui-icon-trash"></span>
        </button>
        <? if($this->fotos_in_text){ ?>
        <button title="Inserir esta imagem no texto" class="ui-state-default ui-corner-all file-insert">
            <span class="ui-icon ui-icon-arrowthick-1-w"></span>
        </button>
        <? } ?>
        <input type="hidden" name="foto_id[]" value="<?=$foto->foto_id?>" class="foto_id" />
        <input type="hidden" name="foto_ordem[]" value="<?=$foto->ordem?>" class="foto_ordem" />
    </li>
    <? }} ?>
</ul>
<div id="file_upload_container">
    <form id="file_upload" action="<?=$this->url?>upload.json?id=<?=$this->id?>" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" multiple />
        <button>Enviar fotos</button>
        <div>Enviar fotos</div>
        <input type="hidden" name="<?=$this->section?>_id" id="<?=$this->section?>_id" value="<?=$this->id?>" />
    </form>
    
    <table id="file_upload_list" cellspacing="0" width="100%">
        <!--<tr class="error"><td colspan="3">Envie até 3 fotos de no máximo 2MB cada.</td></tr>-->
    </table>
</div>