<?=Js::script('allow_photos = '.($this->allow_photos ? 'false' : 'false').';')?>
<? if($this->id && $this->allow_photos){ $this->fotos_in_text = false; ?>
<div class="content-right">
    <div id="fotos">
        <?=$this->render('eventos/fotos.phtml');?>
    </div>
</div>
<? } ?>

<div id="form-new">
    <form action="<?=$this->form->getAction();?>" method="<?=$this->form->getMethod();?>" id="<?=$this->form->getId();?>" class="<?=$this->form->getId();?>">
        <ul>
            <? /*if($this->id){ ?>
            <li class="txt">
                <label for="">Link da evento</label>
                <a class="txt link-evento" href="<?=URL?>/eventos/<?=$this->form->alias->getValue()?>/" target="_blank">
                    <?=URL?>/eventos/<?=$this->form->alias->getValue()?>/
                </a>
            </li>
            <? }*/ ?>
            <? foreach($this->form->getElements() as $elm){ ?>
            <li class="<?=$elm->getAttrib("class")?>">
                <? if($elm->getId() != "submit"){ ?>
                <label for="<?=$elm->getId()?>"><?=$elm->getLabel()?></label>
                <? } ?>
                
                <?=$elm->render()?>

                <? if($elm->getId() == "body"){ ?>
                <!--<span class="tip">
                    * Para inserir um arquivo de áudio ou vídeo no texto, utilize os bbcodes [audio] e [video] contendo o ID ou URL do arquivo no SoundCloud ou Youtube. Por Exemplo:
                    <br /><br />
                    <b>[audio]51278816[/audio]</b> ou <br>
                    <b>[audio]http://soundcloud.com/territorio-do-brincar/entrevista-scarim-audio[/audio]</b>
                    <br /><br />
                    <b>[video]oSLeDfu82Do[/video]</b> ou <br>
                    <b>[video]http://www.youtube.com/watch?v=oSLeDfu82Do[/video]</b>
                </span>-->
                <? } ?>
            </li>
            <? } ?>
        </ul>
        <div class="bt-container">
            <input type="submit" class="bt" value="<?=$this->id?'Salvar':'Criar'?>" id="submit" />
        </div>
    </form>
</div>