<h1>PARCEIROS</h1>

<? $pag = $this->pagina; ?>
<section class="pagina">
	<? if((bool)trim($pag->fotos_fixas->foto1)){ ?>
	<?=Image::src('paginas/'.$pag->fotos_fixas->foto1,'class="img"')?>
	<? } ?>

	<div class="texto">
		<?=$pag->body?>
	</div>
</section>

<section class="parceiros accordion-wrapper accordion-keep-opens">
	<? foreach($this->regioes as $reg){ $this->reg = $reg; ?>
	<a href="#" class="titulo open accordion-item">
		<?=$reg->descricao?>
	</a>

	<ul class="parceiros-list accordion-content">
		<? foreach($this->parceiros as $parc){ $this->parc = $parc; ?>
		<?=$this->render('parceiros/partial-parceiro.phtml')?>
		<? } ?>
	</ul>
	<? } ?>

	<? if(count($this->parceiros_noregs)){ $this->reg = (object)array('id'=>'0'); ?>
	<a href="#" class="titulo open accordion-item">
		Outros
	</a>

	<ul class="parceiros-list accordion-content">
		<? foreach($this->parceiros_noregs as $parc){ $this->parc = $parc; $this->parc->categorias_id = ',0,'; ?>
		<?=$this->render('parceiros/partial-parceiro.phtml')?>
		<? /*$img = ((bool)trim($parc->foto_path)) ? 
					// Image::src('parceiros/'.$parc->foto_path) : 
					Image::bg('parceiros/'.$parc->foto_path) : 
					null; ?>
		<? $url = ((bool)trim($parc->link)) ? $parc->link : '#'; ?>
		<li class="<?=($img) ? 'has-img' : '' ?>">
			<?//=($img) ? $img : '' ?>
			<? if($img){ ?>
			<a class="img" title="<?=$parc->titulo?>" <?=$img?> href="<?=$url?>" target="_blank"></a>
			<? } ?>
			<a class="nome"href="<?=$url?>" target="_blank"><?=$parc->titulo?></a>
		</li>*/?>
		<? } ?>
	</ul>
	<? } ?>
</section>