		<? $parc = $this->parc; ?>
		<? $reg = $this->reg; ?>
		<? if(strstr($parc->categorias_id, ','.@$reg->id.',')){ ?>
		<? $img = ((bool)trim($parc->foto_path)) ? 
					// Image::src('parceiros/'.$parc->foto_path) : 
					Image::bg('parceiros/'.$parc->foto_path) : 
					null; ?>
		<? $url = ((bool)trim($parc->link)) ? $parc->link : null; ?>
		<li class="<?=($img) ? 'has-img' : '' ?>">
			<?//=($img) ? $img : '' ?>
			<? if($url){ ?>
			<? if($img){ ?>
			<a class="img" title="<?=$parc->titulo?>" <?=$img?> href="<?=$url?>" target="_blank"></a>
			<? } ?>
			<a class="nome" href="<?=$url?>" target="_blank"><?=$parc->titulo?></a>
			<? } else { // if url ?>
			<? if($img){ ?>
			<span class="img" title="<?=$parc->titulo?>" <?=$img?>></a>
			<? } ?>
			<span class="nome"><?=$parc->titulo?></a>
			<? } // if url ?>
		</li>
		<? } ?>