<h1><?=$this->titulo?></h1>

<div class="content-text">
    <form action="" class="contato" method="post">
        <ul class="first">
            <li class="li-nome">
                <input type="text" name="nome" id="nome" class="txt required" placeholder="nome" />
            </li>
            <li class="li-email">
                <input type="text" name="email" id="email" class="txt required" placeholder="e-mail" />
            </li>
            <li class="li-telefone half half-1">
                <input type="text" name="telefone" id="telefone" class="txt mask-cel" placeholder="telefone" />
            </li>
            <li class="li-mensagem">
                <textarea name="mensagem" id="mensagem" class="txt required" placeholder="mensagem"></textarea>
            </li>
            <li class="submit-container">
                <input type="hidden" name="mensagem_id" value="<?=$this->mensagem_id1?>">
                <input type="hidden" name="assunto" value="18">
                <input type="submit" class="submit" value="Enviar">
                <p class="status"></p>
                <a href="<?=URL?>/contato/trabalhe-conosco" class="trabalhe">TRABALHE CONOSCO &raquo;</a>
            </li>
        </ul>
    </form>
    
    <script>var MAPAS = MAPAS || {};</script>
    <ul id="filiais">
        <? foreach($this->empresas as $row){ ?>
        <li>
            <span class="titulo"><?=$row->titulo?></span>
            <span class="tel"><?=$row->tel1?></span>
            <a href="mailto:<?=$row->email?>" class="email"><?=$row->email?></a>
            <a href="#" class="ver-mapa" data-id="<?=$row->id?>">ver mapa &rarr;</a> <br>

            <?=$row->endereco?> - <?=$row->bairro?> <br>
            <?=Is_Format::cep($row->cep)?> - <?=$row->cidade?> - <?=strtoupper($row->estado)?>
        </li>
        <? $mapa_url = ((bool)trim($row->gmaps_link)) ? 
            $row->gmaps_link : 
            'https://maps.google.com/maps?q='._parseEndereco($row).'&output=embed'; ?>
        <? if($row->ordem==1){ $mapa_url1 = $mapa_url; } ?>
        <script>MAPAS[<?=$row->id?> ] = '<?=$mapa_url?>';</script>
        <? } ?>
    </ul>
</div>

<br clear="all" />

<?=$this->divfull('mapa')->open()?>
<? if(APPLICATION_ENV!='production1'){ ?>
<section id="mapa">
    <iframe src="<?=$mapa_url1?>" id="frame_mapa" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
<? } ?>
<?=$this->divfull()->close()?>

