<h1><?=$this->titulo?></h1>

<div class="content-text">
    <form action="<?=$this->form->getAction()?>" class="contato trabalhe" method="post" enctype="multipart/form-data">
        <ul class="ul-1">
            <li class="li-nome">
                <input type="text" name="nome" id="nome" class="txt required" required placeholder="nome" />
            </li>
            <li class="li-email">
                <input type="text" name="email" id="email" class="txt required" required placeholder="e-mail" />
            </li>
            <li class="li-telefone half half-1">
                <input type="text" name="telefone" id="telefone" class="txt mask-cel required" required placeholder="telefone" />
            </li>
        </ul>
        <ul class="ul-2">
            <li class="li-mensagem">
                <textarea name="mensagem" id="mensagem" class="txt" placeholder="mensagem (opcional)"></textarea>
            </li>
        </ul>
        <ul class="ul-3">
            <li class="submit-container">
                <input type="hidden" name="mensagem_id" value="<?=$this->mensagem_id2?>">
                <input type="hidden" name="assunto" value="Trabalhe Conosco">
                
                <input type="file" name="curriculo" id="arquivo" class="arquivo trabalhe  " />
                
                <input type="submit" class="submit" value="Enviar">
                <p class="status"></p>
            </li>
        </ul>
    </form>
</div>

<br clear="all" />