<h1>CASES</h1>

<? if($this->cases){ ?>
<section class="cases">
	<? foreach($this->cases as $row){ ?>
	<? $url = URL.'/clientes/case/'.$row->alias.'-'.$row->id; ?>
	<? $active = $row->id==@$this->case->id ? 'active' : ''; ?>
	<a href="<?=$url?>" class="case <?=$active?>">
		<span class="titulo"><?=$row->titulo?></span>
		<?=$row->olho?>
	</a>
	<? } ?>
</section>
<? } ?>

<section class="case-interna">
	<? if($this->case){ ?>
	
	<h1 class="titulo">
		<?=$this->case->titulo?>
		<span class="olho"><?=$this->case->olho?></span>
	</h1>

	<div class="texto">
		<?=$this->case->descricao?>
	</div>
	
	<? } else { ?>
	Selecione um case.
	<? } ?>

	<a href="<?=URL?>/clientes/cases" class="voltar">Voltar</a>
</section>

<? if($this->cases){ ?>
<section class="cases mobile-phone">
	<? foreach($this->cases as $row){ ?>
	<? $url = URL.'/clientes/case/'.$row->alias.'-'.$row->id; ?>
	<? $active = $row->id==@$this->case->id ? 'active' : ''; ?>
	<a href="<?=$url?>" class="case <?=$active?>">
		<span class="titulo"><?=$row->titulo?></span>
		<?=$row->olho?>
	</a>
	<? } ?>
</section>
<? } ?>