<? if($this->clientes){ ?>
<section class="parceiros" id="clientes">
	<h1>NOSSOS CLIENTES</h1>
	<ul class="parceiros-list">
		<? foreach($this->clientes as $cli){ ?>
		<? $img = ((bool)trim($cli->foto_path)) ? 
					// Image::src('clientes2/'.$cli->foto_path) : 
					Image::bg('clientes2/'.$cli->foto_path) : 
					null; ?>
		<li class="<?=($img) ? 'has-img' : '' ?>">
			<?//=($img) ? $img : '' ?>
			<? if($img){ ?>
			<span class="img" title="<?=$cli->titulo?>" <?=$img?>></span>
			<? } ?>
			<span class="nome"><?=$cli->titulo?></span>
		</li>
		<? } ?>
	</ul>
</section>
<? } ?>

<? if($this->cases){ ?>
<h1 id="pagina-cases">CASES</h1>
<?=$this->divfull('cases')->open()?>
<section class="cases" data-columns>
	<? foreach($this->cases as $row){ ?>
	<? $url = URL.'/clientes/case/'.$row->alias.'-'.$row->id; ?>
	<a href="<?=$url?>" class="case">
		<span class="titulo"><?=$row->titulo?></span>
		<?=$row->olho?>
	</a>
	<? } ?>
</section>
<?=$this->divfull()->close()?>
<? } ?>


<? $pag = $this->pagina; ?>
<section class="pagina" id="diferenciais">
	<h1><?=$pag->titulo?></h1>
	<? if((bool)trim($pag->fotos_fixas->foto1)){ ?>
	<?=Image::src('paginas/'.$pag->fotos_fixas->foto1,'class="img"')?>
	<? } ?>

	<div class="texto">
		<?=$pag->body?>
	</div>
	
	<? if($this->segmentos){ ?>
	<section class="parceiros segmentos accordion-wrapper">
		<? foreach($this->segmentos as $row){ ?>
		<a href="#segmento-<?=$row->id?>" class="titulo accordion-item">
			<?=$row->titulo?>
		</a>

		<div id="segmento-<?=$row->id?>" class="texto accordion-content">
			<?=$this->bbCode($row->body)?>
		</div>
		<? } ?>
	</section>
	<? } ?>
</section>