<div class="search-bar">
    <form action="<?=$this->url?>new/" method="get" class="order-form">
        <input type="submit" class="bt" value="+ Adicionar" />
        <input type="hidden" name="pid" value="<?=$this->pid?>">
    </form>
    
    <form action="<?=URL?>/admin/paginas/index/" method="get" class="search-form">
        <label for="search-by" class="search-label">Buscar por:</label>
        <?=$this->formSelect('search-by',@$_POST['search-by'],array('class'=>'txt'),array(
            "titulo"=>"Título"
        ))?>
        <?=$this->formText('search-txt',@$_POST['search-txt'],array('class'=>'txt'))?>
        <input type="hidden" name="pid" value="<?=$this->pid?>">
        <input type="submit" class="bt" value="Enviar" />
    </form>
</div>