<?=Css::loadLess(CSS_PATH."/admin/paginas-tabela-de-medidas.less");?>
<?=Js::load(JS_PATH."/admin/paginas-tabela-de-medidas.js");?>
<?=Js::load(JS_PATH."/jquery.tmpl.min.js");?>

<script type="text/javascript">
var DIR = "<?=$this->section?>";
var URL = "<?=URL?>";
</script>

<h3 class="no-margin">TABELA DE MEDIDAS</h3>

<? if($this->medidas){ ?>
<table class="table-info table-medidas">
    <thead>
        <tr>
            <td width="100">&nbsp;</td>
            <td width="30">PP</td>
            <td width="30">P</td>
            <td width="30">M</td>
            <td width="30">G</td>
            <td width="30">GG</td>
        </tr>
    </thead>
    <tbody>
        <? foreach($this->medidas as $linha){ ?>
        <tr>
            <td>
                <?=$linha->item?>
                <input type="hidden" name="medidas[id][]" id="medidas_id_<?=$linha->id?>" value="<?=$linha->id?>" />
                <input type="hidden" name="medidas[tabela_medida_id][]" id="medidas_tabela_medida_id_<?=$linha->id?>" value="<?=$linha->tabela_medida_id?>" />
                <input type="hidden" name="medidas[item][]" id="medidas_item_<?=$linha->id?>" value="<?=$linha->item?>" />
            </td>
            <td><input type="text" class="txt" name="medidas[tam_pp][]" id="medidas_tam_pp_<?=$linha->id?>" value="<?=$linha->tam_pp?>" /></td>
            <td><input type="text" class="txt" name="medidas[tam_p][]" id="medidas_tam_p_<?=$linha->id?>" value="<?=$linha->tam_p?>" /></td>
            <td><input type="text" class="txt" name="medidas[tam_m][]" id="medidas_tam_m_<?=$linha->id?>" value="<?=$linha->tam_m?>" /></td>
            <td><input type="text" class="txt" name="medidas[tam_g][]" id="medidas_tam_g_<?=$linha->id?>" value="<?=$linha->tam_g?>" /></td>
            <td><input type="text" class="txt" name="medidas[tam_gg][]" id="medidas_tam_gg_<?=$linha->id?>" value="<?=$linha->tam_gg?>" /></td>
        </tr>
        <? } ?>
    </tbody>
</table>
<? } ?>