<? $rows = $this->categorias; if($rows){ ?>
<section class="categorias <?=@$this->class_menu_categorias?>">
	<h2>CATEGORIAS</h2>

	<ul>
	<? foreach($rows as $row){ ?>
	<li>
        <? $active = ($this->categoria && @$this->categoria->alias==$row->alias) ? 'class="active"' : null; ?>
        <a href="<?=$this->url_noticias.'/'.$row->alias?>" <?=$active?>><?=$row->descricao?></a>
	</li>
	<? } ?>
	</ul>
</section>
<? } ?>