<h1>BLOG</h1>

<? $rows = $this->noticias_destaque; if($rows){ ?>
<section class="destaques">
	<? foreach($rows as $row){ ?>
	<a href="<?=$row->_url?>" class="destaque">
		<? if($row->capa_id){ ?>
		<? $img = 'noticias/'.$row->capa_path.'?w=390&h=220'; ?>
		<?=Img::src($img,'class="img"')?>
		<? } ?>
		<span class="data"><?=_dateExt($row->data_cad,$this)?></span>
		<span class="titulo"><?=$row->titulo?></span>
	</a>
	<? } ?>
</section>
<? } ?>

<?=$this->render('noticias/categorias.phtml')?>

<? $rows = $this->noticias; if($rows){ ?>
<section class="noticias">
	<ul class="noticias-list">
	<? foreach($rows as $row) 
	   if(!in_array($row->id, $this->noticias_destaque_ids)){ ?>
	<li>
		<a href="<?=$row->_url?>" class="noticia">
			<span class="data"><?=_dateExt($row->data_cad,$this)?></span>
			<?=$row->titulo?>
		</a>
	</li>
	<? } ?>
	</ul>

	<?=$this->paginacao->render()?>
</section>
<? } else { ?>
<section class="noticias empty">
	<p>Nenhum registro encontrado.</p>
</section>
<? } ?>

<? $this->class_menu_categorias = 'mobile-phone'; ?>
<?=$this->render('noticias/categorias.phtml')?>
