<h1>BLOG</h1>

<? $this->class_menu_categorias = 'interna'; ?>
<?=$this->render('noticias/categorias.phtml')?>

<? $row = $this->noticia; ?>
<section class="noticia-post">
	<h1><?=$row->titulo?></h1>
	<span class="data"><?=_dateExt($row->data_cad,$this)?></span>
	<div class="texto"><?=$this->bbCode($row->body)?></div>

	<nav class="next-prev">
		<? if($this->prev){ ?>
		<a href="<?=$this->prev->_url?>" class="prev">Anterior</a>
		<? } ?>
		<a href="<?=URL?>/blog" class="home">Home do BLOG</a>
		<? if($this->next){ ?>
		<a href="<?=$this->next->_url?>" class="next">Próximo</a>
		<? } ?>
	</nav>
</section>

<? $this->class_menu_categorias = 'interna mobile-phone'; ?>
<?=$this->render('noticias/categorias.phtml')?>