<h1 class="dados-pessoais">ÁREA DO CLIENTE - CRIE SUA SENHA</h1>

<div class="content treinamentos">
    <div class="center">
        <?/*<div class="content-left">
            <img src="<?=PUBLIC_PATH?>/img/lateral-portal.png" alt="">
        </div>*/?>

        <div class="content-main inscricao consultoria">
            <?=$this->render('cadastro/consultoria-form-senha.phtml')?>
        </div>

        <div class="content-right">
            
        </div>
    </div>
</div>