				<!-- <h3>Primeiro Acesso &middot; Cliente Consultoria &middot; Crie sua senha</h3> -->

                <form action="<?=URL.'/cadastro/save1'?>" id="form-login" method="post" class="form-inscricao-padrao inscricao-login-form">
                    <label>
                        <input type="email" name="email" id="email" class="txt required" placeholder="e-mail" required data-validate="Preencha seu e-mail corretamente">
                    </label>
                    <label>
                        <input type="password" name="senha" id="senha" class="txt required" placeholder="senha" required data-validate="Preencha sua senha corretamente">
                    </label>
                    <label>
                        <input type="password" name="senhac" id="senhac" class="txt required" placeholder="confirmar senha" required data-validate="As senhas não coincidem">
                    </label>
                    
                    <input type="hidden" name="area" value="consultoria">
                    <input type="hidden" name="cliente_treinamentos" value="0">
                    <input type="hidden" name="cliente_consultoria" value="1">
                    <input type="submit" class="submit" value="ENTRAR">
                </form>