				<h3>Primeiro Acesso &middot; Cliente Grupo &middot; Crie sua senha</h3>

                <form action="<?=URL.'/cadastro/save1'?>" id="form-login" method="post" class="form-inscricao-padrao inscricao-login-form">
                    <label>
                        <input type="email" name="email" id="email" placeholder="e-mail" required data-validate="Preencha seu e-mail corretamente">
                    </label>
                    <label>
                        <input type="password" name="senha" id="senha" placeholder="senha" required data-validate="Preencha sua senha corretamente">
                    </label>
                    <label>
                        <input type="password" name="senhac" id="senhac" placeholder="confirmar senha" required data-validate="As senhas não coincidem">
                    </label>
                    
                    <input type="hidden" name="area" value="grupo">
                    <input type="submit" value="ENTRAR">
                </form>