<div class="content treinamentos">
    <div class="center">
        <div class="content-left">
            <img src="<?=PUBLIC_PATH?>/img/lateral-portal.png" alt="">
        </div>

        <div class="content-main inscricao consultoria">
            <h1 class="dados-pessoais">ÁREA DO CLIENTE</h1>
            <?=$this->render('cadastro/grupo-form-senha.phtml')?>
        </div>

        <div class="content-right">
            
        </div>
    </div>
</div>