<div class="content treinamentos">
    <div class="center">
        <div class="content-left">
            <?=$this->render('treinamentos/aside.phtml')?>
        </div>

        <div class="content-main inscricao">
            <h1>INSCRIÇÃO</h1>
            <?=$this->render('meu-cadastro/meus-dados-1.phtml')?>
        </div>

        <div class="content-right">
            <?/*=($this->continue_cadastro)?
                    $this->render('meu-carrinho/pagina-cart-continue.phtml'):
                    $this->render('meu-carrinho/pagina-cart.phtml')*/?>
            <?=$this->render('meu-carrinho/pagina-cart-processo.phtml')?>
        </div>
    </div>
</div>

    <?/*<div class="main treinamentos">
        <div class="title"></div>

        <div class="center">
            <div class="aside">
                <?=$this->render('treinamentos/aside.phtml')?>
            </div>

            <div class="conteudo">
                <?=($this->continue_cadastro)?
                    $this->render('meu-carrinho/pagina-cart-continue.phtml'):
                    $this->render('meu-carrinho/pagina-cart.phtml')?>
                <?=$this->render('meu-cadastro/meus-dados-1.phtml')?>
            </div>
        </div>
    </div>*/?>

<?/*<h1>
	Cadastro
	<span id="pre-obr">(*) preenchimento obrigatório</span>
</h1>

<div class="content-text">
    <?=$this->render('meu-cadastro/meus-dados.phtml')?>
</div>
*/?>