<div class="content treinamentos">
    <div class="center">
        <div class="content-left">
            <?=$this->render('treinamentos/aside.phtml')?>
        </div>

        <div class="content-main inscricao">
            <h1>INSCRIÇÃO</h1>
            <?=$this->render('meu-cadastro/meus-dados-2-grupo.phtml')?>
        </div>

        <div class="content-right">
            <?/*=($this->continue_cadastro)?
                    $this->render('meu-carrinho/pagina-cart-continue.phtml'):
                    $this->render('meu-carrinho/pagina-cart.phtml')*/?>
            <?=$this->render('meu-carrinho/pagina-cart-processo.phtml')?>
        </div>
    </div>
</div>