    <div class="main treinamentos">
        <div class="title"></div>

        <div class="center">
            <div class="aside">
                <?=$this->render('treinamentos/aside.phtml')?>
            </div>

            <div class="conteudo">
                <?=$this->render('meu-carrinho/pagina-cart.phtml')?>
                <?=($this->interesse_ok)?
                    $this->render('meu-cadastro/interesse-ok.phtml'):
                    $this->render('meu-cadastro/interesse.phtml')?>
            </div>
        </div>
    </div>

<?/*<h1>
	Cadastro
	<span id="pre-obr">(*) preenchimento obrigatório</span>
</h1>

<div class="content-text">
    <?=$this->render('meu-cadastro/meus-dados.phtml')?>
</div>
*/?>