				<? if($this->pagina->fotos_fixas) if($this->pagina->fotos_fixas->foto1) { ?>
                <img src="<?=URL.'/img/paginas:'.$this->pagina->fotos_fixas->foto1?>" alt="">
                <? } ?>

                <? if(!$this->cart->items){ ?>
                <p>Você não selecionou nenhum curso.</p>
                <? } else { ?>

                <h3>
                    TREINAMENTOS ABERTOS
                    <span class="area">área de atuação:
                        <? $cats = array(); ?>
                        <? foreach($this->cart->items as $item) $cats[] = $item->item->treinamento->categoria->descricao; ?>
                        <strong><?=implode('</strong><strong>', $cats)?></strong>
                    </span>
                </h3>

                <div class="treinamento-descricao no-margin">
                    <? foreach($this->cart->items as $item){ $row = $item->item; ?>
                    <div class="titulo"><?=$item->item->treinamento->titulo?></div>
                    <div class="treinamento-data no-hover">
                        <div class="data">
                            <?=$this->date2($row->data,'DAY')?>
                            <strong><?=$this->date2($row->data,'MONTH_NAME')?></strong>
                            <?=$this->date2($row->data,'YEAR')?>
                        </div>
                        <div class="endereco">
                            <span><strong><?=$row->cidade.' - '.$row->uf?></strong> | <?=$row->titulo?></span>
                            <span class="icone"><?=$row->endereco.' · '.$row->bairro.' · '.$row->cidade.', '.$row->uf?></span>
                        </div>
                    </div>
                    <? } ?>
                </div>
                <? } // if cart->items ?>