<div class="search-bar">
    <form action="<?=$this->url?>new" method="get" class="order-form">
        <input type="submit" class="bt" value="+ Adicionar" />
    </form>
    
    <form action="<?=$this->url?>" method="get" class="search-form">
        <label for="search-by" class="search-label">Buscar por:</label>
        <?=$this->formSelect('search-by',@$_POST['search-by'],array('class'=>'txt'),array(
            "titulo"=>"Título",
            // "categoria_id"=>"Categoria",
        ))?>
        <?=@$_POST['search-by']=='categoria_id'?
            $this->formSelect('search-txt',@$_POST['search-txt'],array('class'=>'txt','style'=>'width: 180px;'),$this->categorias):
            $this->formText('search-txt',@$_POST['search-txt'],array('class'=>'txt'))?>
        <input type="submit" class="bt" value="Enviar" />
    </form>
</div>